[2016-06-09 22:38] zslabs opened #1 "Keyboard actions seem off"
Hi,
Appreciate all the hard work going on here! Noticed something a little odd when interacting with the dropdowns with my keyboard; when I attempt to filter a list, the current selected position seems to jump around a bit.

![screenflow](https://cloud.githubusercontent.com/assets/1018402/15948853/33685f46-2e71-11e6-8ec7-4be7c6fc7b88.gif)

The above is with remote sources, but I've also seen this

[2016-06-17 09:01] jshjohnson commented on #1
Thanks for the heads up, I'm looking into this now.

[2016-06-21 20:36] #1 closed

[2016-06-21 20:37] jshjohnson commented on #1
Resolved in new version

[2016-07-29 18:39] chymz opened #2 "'items' config not working with select-one element"
Hi,
First : awesome library !

I'm trying to make a angular 2 wrapper of your plugin and I think I've spotted some bugs, first of them, the config "items" seems to not work with a select-one element.

Here is a demo (#choices-1) : https://embed.plnkr.co/hVyjk5z2lJZorqOi48e6/
The list remain empty.

Maybe I don't use this variable correctly ?

(I've grouped all bugs on the same plunker, I'll do a d

[2016-07-29 18:43] chymz opened #3 "Add custom ordering config option"
Maybe a bug only a select-one element, but when I use setValue() to set choices on my select they appear in the wrong orders .

Demo (#choices-2 and #choices-3) : https://embed.plnkr.co/hVyjk5z2lJZorqOi48e6/

Label Three appear in second position, and is selected by default :(

[2016-07-29 18:46] chymz opened #4 "Clear current selected value on select-one element"
It's more a enhancement than a bug.

Can we have a button to clear current selection on select-one element ?
Like chosen does : https://harvesthq.github.io/chosen/#allow-deselect-on-single-selects

Thanks !

[2016-07-29 18:50] chymz commented on #2
Sorry I don't read your documentation correctly, 'items' is to select active items on init.

[2016-07-29 18:50] #2 closed

[2016-07-29 18:51] chymz commented on #3
Maybe same problem : https://github.com/jshjohnson/Choices/issues/2
I misunderstood your documentation.

But the only way to change choices of the select is the ajax() function ?

[2016-07-29 18:58] chymz commented on #3
I've updated the plunker and use now the ajax() function but the wrong order problem persist.

What is my mistake ?

Thanks !

[2016-07-30 11:38] jshjohnson commented on #3
Hey @chymz,

Adding 'items' via the config is intended for text inputs (so will be ignored for select inputs). I'm in the process of adding 'options' to the config object so you can achieve what you're looking for.

The ordering problem looks like a bug - i'll look into that!

Thanks,

Josh

[2016-07-30 12:02] chymz commented on #3
Ordering problem isn't a bug, you use sortByAlpha function for ordering choices (https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/reducers/choices.js#L15)

Maybe you can make it configurable ?

[2016-07-30 15:15] jshjohnson commented on #3
Hi @chymz,

I have just pushed a new release that allows you to define choices via the config (see https://github.com/jshjohnson/Choices#choices).

I'm going to be implementing custom sorting in the next release - it requires some restructuring.

Thanks

[2016-07-30 21:01] chymz commented on #4
Here is a first attempt : https://github.com/chymz/Choices/commit/8d7ad122cb6f70d6eb53c3c49ff49a3d547df2c5

I don't if you want a PR or if you want to do on your own ?

(associated branch : https://github.com/chymz/Choices/tree/select-one-clear)

[2016-07-30 21:05] chymz opened #5 "setChoices() : populate choices without callback system of ajax()"
First, thanks for 'choices' option

I made a function to do the same with ajax() but without callback.
Can you watch it ?

Here it is : https://github.com/chymz/Choices/commit/02a71448cab38364f5c0555675507ad6a945f80c

Feel free to close if you don't want it ;)

[2016-07-30 21:53] chymz opened #6 "Set and get selected values (on select elements)"
I need to set and get selected element, like we do on select elements, only by send/return the values of selected choice(s).
(Like we do with jQuery : `$('select').val(value);`)

Today, if i use setValue() function, I need to pass an object like `{value: 'one', label: 'Label One'}` right ?
If so, i'have some issues with it : https://embed.plnkr.co/t48jwB4R7TunhXwcsr5z/

I've done an attempt to dem

[2016-07-31 11:41] chymz opened #7 "callbackOnChange : only trigger on user inputs (select elements)"
Me again for an enhancement ;)

callbackOnAddItem and callbackOnRemoveItem are called when choices are added to the select list.
I've made another callback which is called only on user inputs : https://github.com/chymz/Choices/commit/57c241aac06ac25c983eec83e149c836efbe29e1

Thanks !

[2016-07-31 11:57] chymz opened #8 "Bug : select-one is not focusable with Tab key"
Because `this.input` is hidden.

Dirty solution : https://github.com/chymz/Choices/commit/e8a5158db74c610575de768d65e7c96192015b42

[2016-07-31 12:00] chymz opened #9 "Bug : 'value' of choice can be integer in selects"
And `trim()` can throw an error if the array of choices have integers as values.

- https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L704
- https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L1014

[2016-07-31 12:04] jshjohnson commented on #7
I'm loving all your feedback! So useful. I'll start integrating some of these enhancements ASAP.

Thanks!

[2016-07-31 12:51] jshjohnson commented on #8
Could possibly get round this by giving the input a tabindex attribute.

[2016-07-31 20:12] jshjohnson commented on #6
I have implemented a variation of the example you provided (thanks!) in the latest version (1.0.3). There are technically two ways of achieving what you're looking for:

**Via [`setChoices`](https://github.com/jshjohnson/Choices#setchoiceschoices-value-label):**

[code]

**Via [`setValueByChoice`](https://github.com/jshjohnson/Choices#setvaluebychoicevalue)**

[code]

Thanks.

[2016-07-31 20:13] #6 closed

[2016-07-31 20:14] jshjohnson commented on #9
This has now been resolved as of verson 1.0.3:

- https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L798-L799
- https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L1122

Thanks

[2016-07-31 20:14] #9 closed

[2016-07-31 20:16] jshjohnson commented on #8
As of version 1.0.3, single select inputs are now focussable. I think this needs revisiting at some point as once a choice has been selected, the element loses focus (unlike the behaviour of normal select inputs). Happy to add you as a contributer if you have any ideas on getting around this!

[2016-07-31 20:17] jshjohnson commented on #7
This has now been implemented (https://github.com/jshjohnson/Choices#callbackonchange).

Thanks!

[2016-07-31 20:17] #7 closed

[2016-07-31 20:18] jshjohnson commented on #5
This has now been implemented into version 1.0.3 (https://github.com/jshjohnson/Choices#setchoiceschoices-value-label)

Thanks!

[2016-07-31 20:18] #5 closed

[2016-08-01 09:08] chymz commented on #8
Hi !
Thanks for your reactivity :)

On this issue we need to check/fix multiple problems:
- Keep focus if one item is selected
- If `search` is set to `false` focus is good, but we can't navigate with keyboard arrows. Also if we go to the next select with tab key, `hideDropdown()` is not called ?

I'll try to look this !

[2016-08-02 12:49] #8 closed

[2016-08-03 16:53] th3fallen opened #12 "Usage in another React application?"
Any chance you've used this inside another react+redux application? if so how? i've tried importing it and using it htat way but i get unexpected token inport errors?

[2016-08-03 16:57] #12 closed

[2016-08-03 17:38] jshjohnson commented on #12
Hi @th3fallen,

Did you manage to get this working? If there is anything I can add to the documentation to make this easier, let me know.

Thanks

[2016-08-03 18:00] th3fallen commented on #12
@jshjohnson thanks for the response, yes i did but in Bootstrap 4 beta it's styles explode (get MASSIVE) the form and text are huge and i couldnt sort out why so i had to move to another lib. sad yours was damn near perfect.

[2016-08-03 18:16] jshjohnson commented on #12
The styling would have been inheriting from Bootstrap causing the issues. I may produce a Bootstrap version of the CSS in the future if enough people want it.

Thanks

[2016-08-03 18:16] th3fallen commented on #12
Yep, i'll star and keep an eye on it, if you do i'll be all over it. Thanks for the help man

[2016-08-03 19:00] jshjohnson commented on #3
This has now been implemented as of version 1.0.47.

See: https://github.com/jshjohnson/Choices#sortfilter

Thanks!

[2016-08-03 19:00] #3 closed

[2016-08-03 22:06] jshjohnson commented on #12
I have just pushed a tweak to the CSS that may resolve your font sizing issue! Check it out when you get a chance, I would be interested to know whether it solves your problem.

[2016-08-03 23:24] th3fallen commented on #12
I both love and hate you now, love that it's fixed now. and hate you because i now have to rewrite this component lol thank you so much.

[2016-08-03 23:28] th3fallen opened #13 "Export react component"
Not sure if this would be possible but it'd be SUPER cool if you exported a react component as well.

[2016-08-03 23:39] th3fallen opened #14 "Add callback for when tag is selected and/or edited"
Would be super cool if there was a callback for when a tag was clicked so that someone could then trigger the edited state.

[2016-08-04 07:52] jshjohnson commented on #14
Adding a callback for when an item is highlighted/unhighlighted (i.e. clicked) would be really simple to implement. Adding a callback for when an item is being edited is slightly tricker but theoretically still possible. I'll look into this shortly.

[2016-08-04 07:58] jshjohnson commented on #13
Could you possibly give me an example of what you're looking for? Not overly familiar with wrapping an existing library in React. If you could maybe give me a feature list, I could look into it!

Thanks,

[2016-08-04 07:59] jshjohnson commented on #4
If you didn't pass a placeholder and you cleared the current selection, would you expect the element to be blank?

[2016-08-04 12:25] jshjohnson commented on #14
I have added two new callbacks as of version 1.0.50:

On highlight: https://github.com/jshjohnson/Choices#callbackonhighlightitem
On unhighlight: https://github.com/jshjohnson/Choices#callbackonunhighlightitem

[2016-08-04 13:50] th3fallen commented on #14
Man you're the best! but sadly the callbacks dont seem to be firing?

[code]

I can see the redux action firing but no callback is fired. am i missing something?

[2016-08-04 14:05] jshjohnson commented on #14
Hmm, it's working for me. If you go to the [demo](https://joshuajohnson.co.uk/Choices/) page, open the console and click the items in the first input box, they should be firing (you may need to clear your cache to see the updated demo page).

Are you getting any errors at all?

[2016-08-04 14:26] jshjohnson commented on #14
Looking back at your code: you're assigning this.props and the callback to an empty object which is not passed to Choices. It seems you're only passing this.props?

[2016-08-04 14:28] th3fallen commented on #14
good god..... man it sucks being stupid... lol that's exactly it...

[2016-08-04 14:36] #14 closed

[2016-08-04 17:05] XzAeRo opened #15 "Dependent Dropdown"
It would be really nice to have a feature to make dependent dropdowns. For example, let's imagine we have 2 dropdowns:

- Dropdown 1 is independent. Dropdown 2 depends on dropdown 1 value.
- Dropdown 1 is enabled by default while dropdown 2 is disabled until dropdown 1 has a selected value.
- An event is fired after a value has been selected in dropdown 1.
- The default behavior of the selected-va

[2016-08-04 18:27] DaBs commented on #13
This should not be part of the choices component itself, but rather a plugin for it, like choices-react or something along those lines. Exporting a React component is way too specific, and I have a feeling that the reason the author made this without jQuery was to get out of making it library agnostic.

[2016-08-04 18:28] th3fallen commented on #13
i would disagree @DaBs especially considering this plugin is built with react/redux

[2016-08-04 18:51] jshjohnson commented on #15
This is technically already possible. I've made an example below for you:

[code]

[code]

You could of course do some fancier validation on the value but you get the idea!

Thanks

[2016-08-04 20:02] syropian commented on #13
@th3fallen Sifting through the code, and looking at the package.json file, it uses redux, but not React. It would make much more sense to write a custom React component that wraps this lib, instead of exporting it from the base lib. That way if people also want to make VueJS, Angular, Ember, etc components that use it, they aren't pulling in any needless React dependencies.

[2016-08-04 20:04] th3fallen commented on #13
ah i misread my apologies guys, yep totally agree then should be a separate package.

[2016-08-04 20:04] #13 closed

[2016-08-04 20:17] syropian opened #16 "NPM Install instructions should use --save, not --save-dev"
Pretty self-explanatory, but it probably makes sense to use `--save` over `--save-dev` when installing a component like this.

[2016-08-04 20:54] jshjohnson commented on #16
I've updated the [README](https://github.com/jshjohnson/Choices/blob/master/README.md#installation)

Thanks

[2016-08-04 20:54] #16 closed

[2016-08-04 20:55] #15 closed

[2016-08-04 21:37] holloway opened #17 "Email example bug"
On https://joshuajohnson.co.uk/Choices/ under "Email addresses only" type the following

a@a.aa

the "Hit enter to" will appear, but just hit backspace to make the text input look like

a@a.a

And the "Hit enter to" will still be there but hitting enter won't do anything which is a bit confusing.

[2016-08-04 22:19] jshjohnson commented on #17
This has been resolved as of version 1.0.52.

Thanks!

[2016-08-04 22:19] #17 closed

[2016-08-04 22:25] syropian opened #18 "Don't remove original DOM node"
Frameworks like Vue.js rely on certain DOM nodes to not be removed by third-party code to work properly. (See https://github.com/vuejs/vue/issues/3302). I think simply hiding the original DOM node would be a better option here. Thoughts?

[2016-08-04 22:34] jshjohnson commented on #18
I'm not sure about this - this was a design decision I made early on based on performance concerns. Although it's unlikely, a user could potentially add and remove as many items as they wish (unless it's a single select box) meaning the DOM could get needlessly large. I would be interested to see what performs better: moving the element entirely or hiding it.

[2016-08-04 22:42] syropian commented on #18
Can't really speak for performance, but it would also simplify the `destroy()` method (which I noticed wasn't in the docs ;) ) as you don't have to shift around a bunch of markup, just unhide the original el, and nuke the generated stuff.

I'd love to write a Vue wrapper for this, but at the moment, it just doesn't work, due to the way it touches the original DOM node.

[2016-08-05 05:57] jshjohnson commented on #18
So if I was to test this with hidden elements instead would that need to
apply to everything (choices, items, groups and hidden select options)?

On Thu, 4 Aug 2016 at 23:42, Collin Henderson <notifications@github.com>
wrote:

[2016-08-05 08:07] chymz commented on #4
Sorry for the delay, yes :)

[2016-08-05 10:12] vilav opened #19 "Mimicking Checkbox Behavior"
Hi there,

Choices looks like what I've been looking around for so long! Thanks for making it.
There are multi-select dropdowns, is there a way to have those options within a multiselect to be checkboxes instead of the current DIVs under a <select> tag?

Thanks!

[2016-08-05 10:40] jshjohnson commented on #19
Thanks, I'm glad you like it!

Currently there isn't a way to show checkboxes but it is certainly something I could add to the roadmap if people want it. My only reservation is that it doesn't follow the same behaviour as standard select boxes (which Choices attempts to follow as close as possible).

[2016-08-05 13:54] syropian commented on #18
Hm, maybe I miscommunicated what I meant. I just meant hide the original element you pass into the constructor, with `display:none;` as opposed to removing it from the DOM.

[2016-08-05 13:57] jshjohnson commented on #18
Oh sorry! In that case, the original element is already set to `display: none;`. See the screenshot below:

[Imgur](http://i.imgur.com/aeWjhUR.png)

[2016-08-05 14:09] syropian commented on #18
Ah ok, so I think it's still a problem as it wraps the source element, instead of appending all the generated DOM adjacent to it. I don't have a deep understanding of how Vue's internal update system works but Evan (creator of it) said:

As a workaround instead of not wrapping it you could clone it, so you have both a wrapped element for easier selector referencing internally, but there'd still be

[2016-08-06 09:59] jshjohnson opened #20 "Don't flip drop down on mobile and ensure search is in view"
When on mobile the drop down should only flip if there is no space beyond the document height rather than the viewport height. This avoids the drop down changing between being above and below the input when a choice is selected. The search should also always be visible within the viewport (possibly scroll to the input upon focus).

[2016-08-06 10:57] jshjohnson opened #21 "Prevent touchstart triggering if user is scrolling (rather than tapping)"
If a user is scrolling on a touch device, the touch start event shouldn't trigger. It should only trigger if it was a single tap.

[2016-08-06 11:23] jshjohnson commented on #18
Hmmm, the beauty of wrapping the original element is that you can query for it from the outer container rather than querying the whole document. Looking for adjacent elements is possible but seems awkward to me - especially as I'm looking for ways to trigger the normal select box on mobile so would need the original element contained.

[2016-08-06 11:23] #18 closed

[2016-08-07 11:03] jshjohnson opened #22 "Cannot select item within text inputs on mobile"
Touchstart is preventing it it seems.

[2016-08-07 18:07] jshjohnson commented on #22
Resolved as of version 1.0.54

[2016-08-07 18:07] #22 closed

[2016-08-07 18:08] jshjohnson commented on #21
Resolved as of version 1.0.54

[2016-08-07 18:08] #21 closed

[2016-08-08 02:20] vilav commented on #19
+1, Thanks Johnson! The reason I asked is that there's existing plugins out there that use checkboxes as inputs for things like sorting and filtering. And I find that Choices has very good UX to use along  with and solve the multi-faceted filtering experience.

Here's an example of a plugin called MixItUp. Works pretty well, though combined with Choices, it could elevate the filtering experience e

[2016-08-08 02:32] cjwelborn opened #23 "Can't select text with a mouse"
I saw your post on [/r/coolgithubprojects](https://www.reddit.com/r/coolgithubprojects/comments/4viu8h/choicesjs_a_vanilla_js_customisable_select/). I noticed on your [demo page](https://joshuajohnson.co.uk/Choices/), using `Chrome 52.0.2743.82`, that selecting text doesn't work with the mouse. I can use the keyboard (shift + arrow keys), and `Select All` from the context menu, but the only mouse

[2016-08-08 07:06] jshjohnson commented on #23
Good spot, thanks. I'll look into this ASAP

[2016-08-08 07:41] jshjohnson commented on #20
Resolved as of version 1.0.58

[2016-08-08 07:41] #20 closed

[2016-08-08 08:57] jshjohnson opened #24 "Single select box drop downs (without search) do not close on blur"
On the demo page if you tab through each input, the single select box without search does not close on blur.

[2016-08-08 12:33] jshjohnson commented on #24
Resolved as of version 1.0.59

[2016-08-08 12:33] #24 closed

[2016-08-08 21:08] jshjohnson commented on #23
This has been resolved as of version 1.1.0. Thanks!

[2016-08-08 21:08] #23 closed

[2016-08-10 08:14] jshjohnson opened #25 "Improve user event testing (click/focussing/tabbing etc)"
Using a library such as [syn](https://github.com/bitovi/syn) to test events should be a thing!

[2016-08-12 12:49] jshjohnson commented on #25
Not necessary

[2016-08-12 12:49] #25 closed

[2016-08-16 19:25] zslabs opened #26 "Question around polyfills"
Hi!
I noticed you're currently using https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/lib/polyfills.js to handle polyfills for a few helper plugins. Wanted to get your thoughts around removing these and letting the end-user decide more on its implementation for compatibility. I wrote a little bit about the subject [here](https://zslabs.com/articles/polyno) which outlines using

[2016-08-16 19:28] zslabs opened #27 "IE11 Compatability"
Hi,
Using IE11 (with an addition of https://cdn.polyfill.io/v2/polyfill.min.js?features=default,matchMedia,fetch,Element.prototype.placeholder,Array.prototype.includes to hopefully grab everything I'd need to for compatibility since I was seeing `fetch` used) the UI isn't responding correctly; selections are not being added to the list of options; they just disappear. Are there any additional deps

[2016-08-16 21:39] jshjohnson commented on #27
Hi @zslabs;

Would you be able to send me your config for Choices so I can try and identify the issue?

Thanks

[2016-08-16 21:45] zslabs commented on #27
Hey!
I was testing the default GH pages build (locally) under VirtualBox's modernIE build of IE11.

[2016-08-16 21:52] jshjohnson commented on #26
I'm definitely open to this. My only reservation is that people miss a particular polyfill, get an error and assume the library has bugs!

[2016-08-17 00:50] zslabs commented on #26
Yeah I hear ya. Can be a tougher transition with existing repos, but something that can be approached through documentation. Obviously a bit of a buy-in to promote a service like http://polyfill.io but there certainly are some other options out there; especially if users have their own implementation.

[2016-08-17 13:04] jshjohnson commented on #27
Hi @zslabs,

This has been resolved as of version 1.1.3. IE doesn't support DocumentFragment.children so I've opted for DocumentFragment.childNodes instead.

Thanks

[2016-08-17 13:04] #27 closed

[2016-08-17 14:23] zslabs commented on #27
Awesome! Thanks so much for jumping on that; can confirm it's working as expected. Appreciate it!

[2016-08-17 14:25] zslabs opened #28 "IE11 - Single select"
Hi!
Not necessarily a bug, but a difference in behavior than other browsers - when selecting a single-select in IE11, the dropdown remains open, compared to Chrome, Firefox, and Safari (latest) it's closed on selection. I'll see if I can spot anything unless you come across anything quicker. Thanks!

[2016-08-17 14:34] zslabs commented on #28
It looks like IE11 doesn't like `const hasActiveDropdown = this.dropdown.classList.contains(this.config.classNames.activeState);` in `assets/scripts/src/choices.js` => `_onBlur`. Continuing to look.

[2016-08-17 14:40] zslabs commented on #28
It appears to be working on the second click to your selection (can be the same or a different one)

[2016-08-18 08:41] jshjohnson commented on #28
Thanks for highlighting this - it's a bug. I'll look into this ASAP.

[2016-08-20 10:44] jshjohnson commented on #4
This has now been implemented as of version 1.1.5.

https://github.com/jshjohnson/Choices#removeitembutton

[2016-08-20 10:44] #4 closed

[2016-08-20 11:42] jshjohnson commented on #26
I have updated the documentation to recommend polyfill usage where needed: https://github.com/jshjohnson/Choices#browser-compatibility

I have kept the polyfill for `Array.from` and `window.requestAnimationFrame` within the Choices bundle as they are required for the plugin to function.

Thanks for the heads up.

[2016-08-20 11:42] #26 closed

[2016-08-22 14:58] zslabs commented on #26
Cool! That's a great addition to the README. One quick note around keeping `requestAnimationFrame` - since the browser compat list mentions only browsers that [support es5](http://caniuse.com/#feat=es5) it looks like the former has very [similar support](http://caniuse.com/#feat=requestanimationframe) for it, so something maybe to be considered for the future. Thanks!

[2016-08-22 15:04] jshjohnson commented on #26
Good point, I had always assumed requestAnimationFrame had poor support. I'll move this out of the build in the next release. Thanks

[2016-08-22 23:35] Muppetteer opened #29 "Always selects first item in select-multiple element"
There is a bug in the library that causes the first option in a select-multiple element to always be selected when the Choices object is initialised.

This is where it happens (line 1864 of src/choices.js)
[code]

The `if (index === 0) {` should be changed to take into account the select element type, like it does elsewhere in the script. i.e.

`if (index === 0 && this.passedElement.type === 'sele

[2016-08-23 06:59] jshjohnson commented on #29
Hi @Muppetteer,

I have resolved this issue in version 1.1.7. I have also tweaked my build script to generate an unminified bundle.

If you have any other issues, let me know.

Thanks!

[2016-08-23 06:59] #29 closed

[2016-08-23 08:03] jshjohnson commented on #26
The requestAnimationFrame polyfill has been removed as of version 1.1.7

[2016-08-25 14:36] jshjohnson commented on #28
If anybody has any ideas on why this is happening I'd be keen to know! It seems to be something to do with the ordering of blur/focus events but I'm not sure

[2016-08-25 14:55] jshjohnson commented on #19
Closing as I think this should be it's own project built on top of Choices, rather than being part of Choices out the box.

[2016-08-25 14:55] #19 closed

[2016-08-25 18:25] zslabs opened #32 "Variablize style class names"
Hey!
Currently when instantiating Choices, you can impact the naming of the UI classes, but https://github.com/jshjohnson/Choices/blob/master/assets/styles/scss/choices.scss doesn't have a way to override these selectors if you'd like to keep the base styles (as far as I can see). Would you be up for a way to plug into these values? It'd look something like this:

[code]

It's something I could lo

[2016-08-26 08:04] jshjohnson commented on #32
Hi @zslabs,

Nice idea, I've just committed this change: https://github.com/jshjohnson/Choices/blob/master/assets/styles/scss/choices.scss#L5

Thanks

[2016-08-26 08:04] #32 closed

[2016-08-29 20:17] nenad007 opened #33 "Question about Fetch API"
Is it be possible to  make a other request to fetch API in case no results found and to pass the entered value as argument and offer the response as new select data? If yes exist any example?

As is now it preloads the data and the user can select from this initial data fetch. In a case where many records exist, this is not the ideal solution.

[2016-08-30 17:00] jshjohnson commented on #33
Hi @nenad007,

If I have understood you correctly, that is definitely possible. Below is an example of making two requests if the first request fails:

[code]

[2016-09-01 06:19] #33 closed

[2016-09-03 10:31] Fantasterei opened #35 "Simple multiple select"
Hey.

I want to ask if there is a simple way to replace multiple selects but working like default? The input and badges are not the most elegant way each time.

Here is an example how i want to have it:
https://silviomoreto.github.io/bootstrap-select/examples/#multiple-select-boxes

Maybe there is a way to do this.
Thanks and best regards

[2016-09-04 13:40] jshjohnson commented on #35
Hi @Fantasterei,

Technically this is already possible. The example you sent is essentially behaving the same as Choices currently behaves  - the only difference is styling. It would be fairly simple to achieve what you are looking for by changing the CSS.

Thanks,
Josh

[2016-09-04 13:40] #35 closed

[2016-09-04 14:28] jshjohnson commented on #28
As of version 2.0.0 this has now been resolved. The problem was to do with the ordering of focus/blur events. Now if you focus a single select element the dropdown will not open; the dropdown will only open if you press the enter/up/down key or click it. This is the same behaviour as normal select boxes which is even better.

Thanks for the heads up!

[2016-09-04 14:28] #28 closed

[2016-09-05 07:35] Fantasterei commented on #35
No because the script removes the selected items from the selection-list. So there is no chance to do this by css.

[2016-09-08 17:39] zslabs commented on #28
Awesome, thanks for looking into this!

[2016-09-09 14:11] zslabs opened #37 "Webpack vs Rollup"
Hey!
Wanted to bring up more a discussion rather than an issue, but I recently read through https://nolanlawson.com/2016/08/15/the-cost-of-small-modules/ which had some interesting insights into some of the extra "stuff" Webpack can wrap around your code which can sometimes lead to larger file sizes - and wanted to get your take. About to do some integration work with Choices to replace [Chosen](h

[2016-09-09 14:34] jshjohnson commented on #37
Hmm, jQuery clocks in at ~240kb and Chosen minified is 60kb as far as I'm aware.

[2016-09-12 06:59] jshjohnson commented on #37
You've definitely got a point. I'm going to see whether Webpack 2 makes any sizeable difference to the bundle size - I've heard mixed reports about it.

[2016-09-12 11:49] Tam opened #39 "User add item & multi-select"
Is it possible to mix multi-select with the users ability to add custom items? Or alternatively, give the text field some predefined suggestions in the style of the multi-select?

I've tried setting the `choices` option when targeting a text field, but it doesn't seem to work.

[2016-09-12 17:36] jshjohnson commented on #39
The ability to add custom items to a multi-select is a definite possibility - that would be fairly simple to implement. Thanks for the suggestion.

[2016-09-15 18:40] zslabs opened #40 "classNames JS object"
Hey!
When trying to customize the `classNames` object during initialization and only impact a single value, it looks like Choices was blowing up a little and not working as expected until I pasted all the default values and customized one of them. Is the intended behavior to need to dupe all the defaults in this area? Thanks!

[2016-09-15 18:41] jshjohnson commented on #40
Interesting - do you mind providing your Choices config please? Thanks

[2016-09-15 18:43] zslabs commented on #40
Sure, I had the following:

[code]

[2016-09-15 20:06] jshjohnson commented on #40
This should now be resolved in version 2.0.3! Thanks for highlighting this.

[2016-09-15 20:06] #40 closed

[2016-09-15 20:11] zslabs commented on #40
Awesome, thanks for the quick-fix!

[2016-09-19 16:47] wydflannery opened #41 "Use Disabled Option as "Placeholder""
Would it be possible to have this plugin work with a disabled attribute so an `<option>` can be used as a placeholder? In a traditional `<select>` you could do the following to achieve this:

[code]
When using choices, the `<select>` is shown empty until a non-disabled element is selected. I also tried using the built in placeholder/placeholderValue options but could not get it working with a sing

[2016-09-20 10:00] nathanielw opened #42 "callbackOnChange isn't triggered when backspacing an item"
From the description in the readme, it seems like the `callbackOnChange` callback should be called when an item is added or removed via any sort of user-input. Currently removing an item only triggers it if an item is removed using the button, not if it is backspaced.
Seems like it should be called after [line 817](https://github.com/jshjohnson/Choices/blob/ef1e7d23effe27a8f9d72a6c1efa3ac900c15de7

[2016-09-20 10:01] jshjohnson commented on #42
Good spot, thanks. Looking into this now.

[2016-09-20 11:59] jshjohnson commented on #42
This should now be resolved as of version 2.0.3. Thanks!

[2016-09-20 11:59] #42 closed

[2016-09-21 12:36] jshjohnson commented on #41
Hi @wydflannery,

As of version 2.0.6, setting a disabled option as a placeholder item will now work.

Thanks

[2016-09-21 12:36] #41 closed

[2016-09-21 17:17] wydflannery commented on #41
I really appreciate it, thank you!

[2016-09-23 13:41] froggiefab opened #43 "Loading text not replaced"
Hi,

When using Choices in 'multiple mode', the "Loading..." text is not replaced if "placeholderValue" is not set or if 'placeholder' is set to "false".
![choices - loading](https://cloud.githubusercontent.com/assets/5774943/18787648/f74d1d9a-81a3-11e6-92bf-c22296abaffe.png)

Thanks.

[2016-09-23 14:56] jshjohnson commented on #43
Thanks - will be pushing a fix shortly!

[2016-09-24 09:56] jshjohnson commented on #43
This is now resolved as of version 2.0.7. Thanks.

[2016-09-24 09:56] #43 closed

[2016-09-24 12:23] froggiefab commented on #43
Thanks for the quick fix :)

[2016-09-26 13:49] froggiefab opened #46 "Server side filtering"
Hi,

I'd like to add a server-side filtering feature which would fetch data as the user inputs text (with a 'minChars' and a 'delay' properties).

Is that something that you plan to add in a future release ?

Thanks

[2016-09-26 14:02] jshjohnson commented on #46
Hi @froggiefab,

So just I'm clear, you would like the ability to specify how many characters are needed before Choices will filter as well as the delay after each key press?

Thanks,

Josh

[2016-09-26 14:07] froggiefab commented on #46
Yes that would be great.

But I also would like to be able to fetch choices from the server as the user inputs text (make a request to receive filtered choices from a large dataset rather than loading all choices on init).

Thanks,

Fabien

[2016-09-26 14:08] jshjohnson commented on #46
Ah I see what you mean. I could potentially add a new callback for when the user types so you can then handle your server logic from within that callback.

I'll look into this, sounds like a cool idea.

[2016-09-26 14:11] froggiefab commented on #46
Great, thanks a lot !

[2016-09-29 12:59] jshjohnson commented on #46
As of version 2.1.0 there is now a callback when a user searches + you can now specify a minimum character limit via the [ 'searchFloor'](https://github.com/jshjohnson/Choices#searchfloor) config property.

[2016-09-29 12:59] #46 closed

[2016-10-13 08:22] jshjohnson commented on #37
Going to close this and return to it when Webpack 2 comes out of beta. Thanks

[2016-10-13 08:22] #37 closed

[2016-10-13 13:48] zslabs commented on #37
👍 Just as a heads up, I've been using the beta for a few weeks now and haven't run into any snags, so maybe not too far off from playing around with it!

[2016-10-13 14:49] jshjohnson commented on #37
Out of interest, did you find it decreased bundle sizes?

[2016-10-13 15:14] NetanelBasal opened #52 "Get the value of the group"
There is a way to get the value of the group?
[code]

So for example here when I click on item in the Personal group I need to know the group name.

[2016-10-13 15:30] zslabs commented on #37
TBH I never used Webpack v1 and have not had a chance to use Rollpack in prod yet, but I'll tell ya I was pleasantly surprised in comparison to the previous (more traditional Rails asset pipeline type of approach I used) that the filesize was darn-near identical.

[2016-10-13 15:31] jshjohnson commented on #52
Hi @NetanelBasal,

Not currently but it would be simple to pass the group value to the callbackOnAddItem/callbackOnRemoveItem etc functions.

I'll look into this for you.

Thanks,

[2016-10-13 15:31] NetanelBasal commented on #52
Thank you, This will be very helpfull.

[2016-10-14 08:34] ArielGueta opened #53 "Placeholder display on the search text input and not on the select"
When I am setting a placeholder, my expectation is to see the placeholder on the select element and not on the search input when clicking the select box.

How can I set a placeholder for the users to see when there is no value selected?

My example plunker:
[plunker](https://plnkr.co/edit/ygiBJ6sLlUx4hsTVjVw2?p=preview)

Thanks. ( By the way awesome plugin )

[2016-10-17 08:50] rstacruz opened #54 "Pressing `enter` submits the form"
![image](https://cloud.githubusercontent.com/assets/74385/19431139/c7b5485c-9489-11e6-8508-35014d2ce737.png)

Contrary to what the hint text says, pressing `Enter` actually submits the form that the input is in.

Thanks for choices.js!

[2016-10-17 08:51] jshjohnson commented on #54
Hi @rstacruz,

Is the input focussed when you press enter?

Thank,
Josh

[2016-10-17 08:56] rstacruz commented on #54
Yep!

[2016-10-17 08:56] rstacruz commented on #54
Oh, to replicate:

[code]

[code]

[2016-10-17 08:59] rstacruz opened #55 "dist/choices.min.js does not export a variable"
The main dist file doesn't export a useful value. It simply gives you `{}`.

[code]

Same effect with `require()`.

[code]

What it actually does is export `window.Choices`. This works, contrary to commonjs expectations:

[code]

cc @akosipc who first encountered this bug.

[2016-10-17 09:07] rstacruz commented on #55
I don't know exactly why this is, but here's something strange.

In [choices.js](https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js):2175, it sets `window.Choices` and `module.exports`.

[code]

This is in conflict with `export default` in line 34.

[code]

I recommend:

- don't use `export default`, instead just use `module.exports`. This allows you to make a package

[2016-10-17 09:13] rstacruz opened #56 "Consider not minifying"
...or leaving `choices.js` as the `"main"` entrypoint, instead of `choices.min.js`.

This lets others debug properly :)

[2016-10-17 09:15] jshjohnson commented on #54
That's strange, could you give me your browser details please? Thanks

[2016-10-17 09:25] rstacruz opened #57 "<label><select></label> doesn't open when clicked"
I have something like this:

[code]

[code]

But I can't click it. I can press spacebar on it just fine, though.

It seems like it opens the dropdown, then closes it immediately:

[code]

`this` is indeed !== `this.input`. and `this.dropdown` indeed doesn't have `target`:

![image](https://cloud.githubusercontent.com/assets/74385/19432302/a72d2636-948e-11e6-9578-281283666e24.png)

What happens her

[2016-10-17 09:29] rstacruz commented on #57
hmm, i'm not sure whats going on here, but the onClick is triggered twice for me...

[2016-10-17 09:31] rstacruz commented on #57
Oh okay, I know what's going on. I'm putting `<label><select>...</select></label>` - it seems this case is unsupported :-)

[2016-10-17 10:03] jshjohnson commented on #56
Hmm, I think the general consensus is to have the minified version as the entry point as that allows somebody to easily include the library directly into their HTML from their `node_modules` folder. This means they do not need to have a build system to minify it etc.

[2016-10-17 10:04] #56 closed

[2016-10-17 11:19] rstacruz commented on #56
Not always, I think... here are a few that don't:

- React https://unpkg.com/react@15.3.2/package.json
- jQuery https://unpkg.com/jquery@latest/package.json
- Lodash https://unpkg.com/lodash@4.16.4/package.json

That doesn't mean they don't provide a minified version though :)

[2016-10-17 17:51] lvpro commented on #55
I think modules is just getting shadowed.

This is how I solved the problem ...

At the top of choices.js:
const CJSModule = module;

Then replace exports.default and window.Choices with:
CJSModule.exports = Choices;

Then you can:
import Choices from 'choices.js'

:)

[2016-10-18 13:18] jshjohnson commented on #55
In version 2.2.4 Webpack now wraps Choices in a UMD wrapper. This means you should be able to import it using `require('choices.js')` or `import Choices from 'choices.js'`. If it is included directly on the page, it will be attached to the global window.

If there are any issues with the new version, let me know ASAP!

Thanks 👍

[2016-10-18 13:18] #55 closed

[2016-10-18 13:21] jshjohnson commented on #53
Hi @ArielGueta,

I think you're correct. I think there should perhaps be a `searchPlaceholder` config option as well as the normal placeholder.

In the meantime, see this ticket for some info for setting a placeholder item: https://github.com/jshjohnson/Choices/issues/41

[2016-10-18 13:26] jshjohnson commented on #57
It immediately closes because the focus is no longer the actual input, it is the label (as far as I know). By testing whether the passed input is wrapped within a label, this could be resolved. I'm just wondering whether it is a normal pattern wrapping a select input within a label? I've not come across that before 🤔

[2016-10-18 14:33] rstacruz commented on #57
Yes it is! w3 spec recommends it, and has many examples of it:

It lets the entire label + input + the box around it be clickable to focus on the input.

[2016-10-18 14:34] rstacruz commented on #57
Afaik it works like this: clicking a `label` triggers a click on the `input`. So when you click an input in the label, it triggers a click for `input` and for `label`.

[2016-10-18 14:36] jshjohnson commented on #57
Ah that seems to behave the same as supplying a `for` attribute: https://www.w3.org/wiki/HTML/Elements/label

Interesting.

[2016-10-18 14:38] rstacruz commented on #57
Thanks so much by the way for choices. I've been fed up with Select2 for a while :-)

[2016-10-18 14:39] rstacruz opened #58 "CSS uses too much nesting sometimes"
For instance:

[code]

...when you can just use `.choices__heading`. I typically restyle Choices.js to fit the project I'm working on, and using less-specific CSS selectors would help a lot.

[2016-10-18 14:40] rstacruz commented on #58
This is particularly problematic as well:

[code]

Would that be alright to be expressed as just `.choices__item--selectable`?

[2016-10-18 14:42] jshjohnson commented on #58
Hey!

Would you mind submitting a pull request for this?

Thanks :)

[2016-10-18 15:22] rstacruz commented on #58
Sure, though I'm not too familiar with the css styling here though so I
don't know if I can cover all cases :)

On Tue, Oct 18, 2016, 10:42 PM Josh Johnson <notifications@github.com>
wrote:

[2016-10-18 15:53] jshjohnson commented on #54
Could you also provide a JSbin example please if possible?

[2016-10-18 17:11] vegarringdal opened #59 "Is there a easy way to just set height/width ?"
Is there a easy way to just set height/width ?
Or get it to follow the select you add it too?
Or do you have a bootstrap theme so it really looks like it belongs with the rest of the form elements?

Thx, looks really cool, love its vanilla js

[2016-10-18 17:31] jshjohnson commented on #59
Hey @vegarringdal,

You can set the width and height of the element via the CSS:

[code]

There isn't a Bootstrap theme - I'm open to somebody creating one though via a pull request (I personally don't use Bootstrap).

Thanks,
Josh

[2016-10-18 17:53] #59 closed

[2016-10-18 17:54] vegarringdal opened #60 "Clear choices on search"
Wanted to use this with remote data, Im prb just using it wrong
But what I wanted to repopulate the dropdown when trying into the search box
Nothing have to be changed without user selection a row
Thx

[code]

[2016-10-18 17:58] jshjohnson commented on #57
I'm glad you like it!

I've just tried wrapping a multiple select element within a label on Chrome and it worked fine. Would you mind sending me your browser details please?

Thanks

[2016-10-18 18:00] vegarringdal commented on #60
my bad, setChoises worked, sorry 😄

[2016-10-18 18:09] vegarringdal commented on #59
thx, Ill try that

[2016-10-18 18:22] vegarringdal commented on #59
tried this, didnt help much unless I go a do edits to all classes
Could have been useful if we could get it to follow the height/width of element we attach it to, if thats possible, but that might be more work then Im aware of.
Then again dropdowns can be useful to have wider in some cases 😄

[2016-10-18 18:43] jshjohnson commented on #52
Hey @NetanelBasal,

As of version `2.3.0`, this is now possible. See: https://github.com/jshjohnson/Choices#callbackonadditem (third argument)

Thanks!

[2016-10-18 18:43] #52 closed

[2016-10-18 18:44] NetanelBasal commented on #52
Thanks!!

[2016-10-18 18:45] jshjohnson commented on #58
As of version `2.3.0`, `choices__heading` is no longer one level deep in the CSS. The dropdown example you sent is necessary unfortunately.

Thanks.

[2016-10-18 18:45] #58 closed

[2016-10-18 19:31] vegarringdal commented on #60
Looks like I have a issue after all
when I use setChoises it also adds, didnt notice before I removed the text in search bar
How can I make it so its always replace the existing with setChoises

[2016-10-18 19:33] jshjohnson commented on #60
Just to clarify, are you wanting to set the choices based on what a user is searching for?

Thanks

[2016-10-18 19:41] vegarringdal commented on #60
Yes, and every time the "callbackOnSearch" triggers I call the server, and set the choises

[2016-10-18 19:53] jshjohnson commented on #60
Ahh I understand. There is a method to clear choices but it is a private functions - I'll make it public for you tomorrow!

[2016-10-18 20:06] vegarringdal commented on #60
great thx.

A option to the setChoises could have been a solution to
```setChoices(choices, value, label, replaceChoises)```  if true if replaces the existing.

Is it possible to have one label for the dropdown and another one for the label that get set?
Was thinking about using the callbackOnCreateTemplates, but looks like you cant pass additional data inn with setChoises() and use them

[code]

[2016-10-19 06:41] jshjohnson commented on #60
Hi @vegarringdal,

As of version `2.3.1`, it is now possible to pass a `replaceChoices` flag when using the `setChoices` method. See: https://github.com/jshjohnson/Choices#setchoiceschoices-value-label-replacechoices

I'm going to look into passing additional data for templates in the future!

Thanks

[2016-10-19 06:41] #60 closed

[2016-10-19 15:51] vegarringdal commented on #60
@jshjohnson Thx

Other options that could be useful was maybe a searchTimeout, so search dont get triggered to fast if someone if writing fast.
Also maybe a minimum dropdown size could be a nice feature, or function we could call to set before we setChoices, could calculate size we needed depending on result length.

[2016-10-20 12:18] herbertpimentel opened #61 "register as a bower module"
Will be very appreciated if you publish this also as a bower module.

[2016-10-20 12:28] jshjohnson commented on #61
Hey @herbertpimentel,

There was a merged pull request a while ago to do this: https://github.com/jshjohnson/Choices/pull/38

If you have any issues installing with Bower, let me know.

Thanks

[2016-10-20 18:51] herbertpimentel commented on #61
@jshjohnson I can´t find your pack at bower repo

[code]

I have also tryed at https://bower.io/search/

I am facing some problems to import it using requirejs. So could you provide some example about how should I proceed ?

[code]

[2016-10-20 20:25] jshjohnson commented on #61
Hey, could it try it again now? I've just published it - apologies I don't actually use Bower!

[2016-10-21 01:16] herbertpimentel commented on #61
@jshjohnson the bower module now is  fine, but I am facing problems to import choices using require.js

I am also facing some problems to import it using requirejs. So could you provide some example about how should I proceed ?

[2016-10-21 14:44] jshjohnson commented on #61
Hi @herbertpimentel,

This should work for you:

[code]

[2016-10-21 14:44] #61 closed

[2016-10-22 05:21] dgt41 commented on #39
@jshjohnson if you are about to implement this feature can I also ask to apply this also for single select option tag? It would be great help on something I'm currently working...

[2016-10-22 18:23] dgt41 opened #63 "init() throws error"
Trying a simple destroy() and then init() won't work...

http://codepen.io/dgt41/pen/amXoQL

[2016-10-22 20:11] jshjohnson commented on #63
Hi @dgt41,

This should be resolved as of [version 2.4.0](https://github.com/jshjohnson/Choices/releases/tag/v2.4.0).

Thanks

[2016-10-22 20:12] #63 closed

[2016-10-22 20:16] dgt41 commented on #63
WOW, that was fast!

Thanks 👍

[2016-10-24 10:35] jshjohnson commented on #57
Hey, any chance you could send me your browser details please?

Thanks

[2016-10-24 10:35] jshjohnson commented on #54
Hey, any chance you could send me your browser details please?

Thanks

[2016-10-24 15:55] #54 closed

[2016-10-25 09:06] philippkuehn opened #64 "Add way to build a really lightweight version or make it more modular"
You talk about a lightweight version but I think it's way to bloated for simple use cases (for example if you just want to use a single select input with search functionality).

**Status quo:**
chosen.min.js | _28kb_
selectivity.min.js | _50kb_
choices.min.js | _61kb_
select2.min.js | _67kb_

It would be nice if it is possible to build an own custom build or (better) you make it modular like selec

[2016-10-25 09:29] jshjohnson commented on #64
Hi @philippkuehn,

I am currently investigating ways of reducing the codebase by using Webpack 2 - I'm also looking at producing an ES6 version which does not have the added weight polyfills/transpiled code.

With that said, I think it is unfair to compare Select 2 and Chosen with libraries such as Choices and Selectivity as the former rely on jQuery to function. jQuery minified alone weighs ~80kb

[2016-10-25 13:38] herbertpimentel commented on #61
@jshjohnson I have created a sample project to show how I am trying to use choices with requirejs following your instructions above

https://github.com/herbertpimentel/choicesjs_test

You just need run:

1. Install bower globally using npm
[code]
2. Install the bower dependences
[code]

As I hove you will see choices is successful loaded but I receive a message `TypeError: Choices is not a constru

[2016-10-26 13:40] jshjohnson commented on #64
Update: With Webpack 2 Choices is reduced to 55kb!

[2016-10-28 19:09] herbertpimentel opened #65 "problems to import using RequireJs"
when we try to use choices.js with requirejs the lib is loaded but, no return is provided.

To demonstrate the problem I have created a sample project to show how I am trying to use choices with requirejs

https://github.com/herbertpimentel/choicesjs_test

to run this you just need:

Install bower globally using npm

[code]

Install the bower dependences

[code]

As I hove you will see choices is

[2016-10-28 21:18] jshjohnson commented on #65
Hey @herbertpimentel,

Thanks for the heads up. This should now be resolved if you install v2.4.1.

Thanks,
Josh

[2016-10-28 21:18] #65 closed

[2016-11-02 10:59] jbanety opened #68 "Setting addItems to false disables the input"
Hi,

I don't want to my users being able to add items.
But if I set `addItems` to `false`, the select is disabled.

Is it possible to allow selecting an option but not to add items ?

Thanks for your great lib.

[2016-11-02 11:01] jshjohnson commented on #68
Hi @jbanety,

Could you provide your full config please? 🙂

Thanks

[2016-11-02 11:05] jbanety commented on #68
I think I misunderstood the "terminology".
"Items" is the real user choice (e.g. selected="selected").

So If I set addItems to false, the select is disabled.

I thought that it was to allow users to "create" new option.

Sorry.

[2016-11-02 11:05] #68 closed

[2016-11-02 13:36] froggiefab opened #69 "i18n for "_canAddItem" function"
Hi,

Could you provide a way (in the configuration object maybe ?) to customize labels used in the "_canAddItem" function ?

Template string functionnality is used for two of them and I don't know how to best handle those cases to propose a PR...

Thanks

[2016-11-02 16:50] jshjohnson commented on #69
To achieve this there would need to be a config option that accepts either a string or a function. The function would have a value argument that could then be used within the returned label.

So something like:
[code]

[2016-11-03 01:41] ch33foong commented on #54
This is replicated on Chrome Version 54.0.2840.71.
Make sure the text box inside a form tag.

[2016-11-03 16:06] froggiefab commented on #69
Thanks, will submit a PR soon :)

[2016-11-06 18:24] dgt41 commented on #39
@jshjohnson I would like to give some input here, so for the single value:

http://codepen.io/dgt41/pen/xRbpwK/

And for the multiple values:

http://codepen.io/dgt41/pen/RoNxro

So couple remarks here:
- there should be an option for the value (both for sing and multiple)
- the search should return ONLY exact results not partials as it is ATM

Hope this is somehow helpful

[2016-11-07 08:03] rstacruz opened #70 "addItems on select-multiple?"
I'd love to have the preset options of select-multiple:

![image](https://cloud.githubusercontent.com/assets/74385/20050334/b173dd9e-a503-11e6-8484-d4164377680b.png)

Yet have the flexibility to add more items with `addItems: true`:

![image](https://cloud.githubusercontent.com/assets/74385/20050341/bb565832-a503-11e6-8fed-b7eb0022a3ac.png)

But `addItems` is only available for text inputs. What o

[2016-11-07 09:54] jshjohnson commented on #70
Closing as this is a duplicate of https://github.com/jshjohnson/Choices/issues/39 👍

[2016-11-07 09:54] #70 closed

[2016-11-07 14:10] dgt41 commented on #39
@jshjohnson any ETA here?

[2016-11-07 14:10] jshjohnson commented on #69
This has now been merged into [version 2.5.0](https://github.com/jshjohnson/Choices/releases/tag/v2.5.0).

Thanks

[2016-11-07 14:10] #69 closed

[2016-11-07 21:50] aletorrado opened #73 "Remote fetch + remote filtering"
Hi, what is the recommended way (if possible) to get the Choices search query as the user types, to fetch filtered data?

Thanks

[2016-11-07 22:09] jshjohnson commented on #73
Hi,

You can use the `[callbackOnSearch(value) {...}](https://github.com/jshjohnson/Choices#callbackonsearch)` function to fetch/handle data.

Thanks

[2016-11-07 22:09] #73 closed

[2016-11-08 09:04] jshjohnson commented on #39
@dgt41

I'll be looking at this as soon as I can - very busy this week though. I'm happy to review pull requests.

[2016-11-08 14:28] jshjohnson commented on #39
Just to give an update, I've begun work on this within [a feature branch](https://github.com/jshjohnson/Choices/tree/feature/select-add-items)

[2016-11-08 16:27] aletorrado opened #74 "Callback on search cleared"
Hi,

I need to be notified when the search term gets cleared, but Choices don't trigger `callbackOnSearch` when the search input is empty. I've already setted `searchFloor: 0`. How can I achieve this?

Thanks

[2016-11-08 19:16] CathyMacars opened #75 "sortFilter doesn't work on Firefox"
Hi!

I'm facing a problem on Firefox, where if I use `sorfFilter`:

[code]

It gives me the following error:

![screen shot 2016-11-08 at 5 22 08 pm](https://cloud.githubusercontent.com/assets/2156812/20113573/0df7cbf0-a5d8-11e6-9308-d226dede0169.png)

This error does not occur on Chrome or Safari, everything works fine on both.

[2016-11-09 09:29] jshjohnson commented on #75
Hi @CathyMacars,

So the `sortFilter` config option is expecting a function not a string: https://github.com/jshjohnson/Choices#sortfilter

Choices sorts by alpha by default anyway so you can simplify your config to:

[code]

Thanks

[2016-11-09 09:29] #75 closed

[2016-11-09 09:58] jshjohnson commented on #74
I should be able to put a fix in to ensure this works. I'll keep you updated.

Thanks

[2016-11-09 11:48] philippkuehn opened #76 "Show placeholder if no value is selected"
If I want to use the placeholder option:
[code]

the select is still empty:
![jmoqt7t60l](https://cloud.githubusercontent.com/assets/2500670/20137307/f6f58b3e-a679-11e6-9b75-3efd7dcc27e8.png)

But after I selected on item and removed it with the remove button the placeholder value is visible:
![inorkmfjeh](https://cloud.githubusercontent.com/assets/2500670/20137349/26cecdd4-a67a-11e6-8149-364e6073

[2016-11-09 11:49] philippkuehn opened #77 "Allow options with no value"
Hey, I want to use an option with no value as a placeholder. But this doesn't work. The option will not be visible with choices.js.

[code]

The select is empty and I'm not able to select this field anymore.
![jmoqt7t60l](https://cloud.githubusercontent.com/assets/2500670/20137285/d76b1d1a-a679-11e6-9956-71f7c95724d7.png)
![1xyzmhezme](https://cloud.githubusercontent.com/assets/2500670/20137460/d8

[2016-11-09 11:56] #64 closed

[2016-11-14 08:02] jshjohnson commented on #77
Hi,

Out of interest, if you pass a value to the placeholder option, does this work?

If so, this will be a really easy fix.

Thanks

[2016-11-14 13:32] philippkuehn commented on #77
No, unfortunately not 🙁

[2016-11-14 19:06] jshjohnson commented on #77
I'm working on a fix that accepts a blank value attribute. That being said, would you like the expected behaviour to be for placeholder items? Should they behave like disabled options or should they not appear in the dropdown list at all?

Thanks :)

[2016-11-14 20:25] philippkuehn commented on #77
That's a tough question. I think you always have to think about accessibility. Custom selects should work 100% if I drop all the javascript stuff.

So what I want is a javascript **and** non-javascript solution to:

- have a placeholder with no value
- after selecting some value I want to be able to re-select the placeholder value (for non-required selects)

So maybe you don't have to change the w

[2016-11-14 23:17] dgt41 commented on #39
@jshjohnson I did some testing on the feature branch, so for the single the item is added but is not active:
![screen shot 2016-11-14 at 22 48 32](https://cloud.githubusercontent.com/assets/3889375/20286699/dcffefe8-aad0-11e6-8a97-07cff202faf7.png)

For the multiple I do get some strange behaviour, adding a new item will also add another (already existing) item. I hope I can find some time debuggi

[2016-11-15 15:56] jbanety opened #78 "Bad version"
Hi,

It's not the big deal but your version inside your release package is always a version late.
e.g. 2.5=> /*! choices.js v2.4.1 | (c) 2016 Josh.........

Thanks for your great lib.

[2016-11-15 16:26] jshjohnson commented on #78
Haha good spot - I'll look into that... 👍

[2016-11-15 19:35] jshjohnson commented on #76
Closed as this is related to [77](https://github.com/jshjohnson/Choices/issues/77)

[2016-11-15 19:35] #76 closed

[2016-11-16 10:55] jshjohnson commented on #78
Resolved!

[2016-11-16 10:55] #78 closed

[2016-11-17 10:56] lewishowles commented on #77
Just to jump in here, found this recently after trying to move a new project to Vue.js and loving it so far. I came from using Selectize in a previous project and I'm having a much better time. (I had to re-write the CSS but that's just because I like to make things difficult!)

Jumping in with some opinions on this:

- Agree accessibility is paramount. The 'please select' option should really be

[2016-11-18 13:08] StephaneTrebel commented on #39
FYI, I've a push a PR (https://github.com/jshjohnson/Choices/pull/79) to help complete this feature.
Feel free to comment !

[2016-11-18 14:15] jshjohnson commented on #39
Thanks to the PR from @StephaneTrebel, I'm close to getting this feature through the door.

Things left to do:

- [ ] Ensure the select box stays focussed after inputting a custom choice
- [ ] Ensure the `duplicateItems` config option works with select elements (i.e. no inputting a value that already exists

[2016-11-21 13:24] jshjohnson commented on #77
Thanks for all your feedback. I think I'm going to experiment with using the `placeholder` attribute on option elements and then adding a placeholder class based on the existence of that attribute. This would be for single select elements only though as I don't think this is necessary for multiple selects as you can set the placeholder on the input.

[2016-11-21 13:39] jbanety commented on #77
Hi,
It's also important to keep option with empty values in the list.
For example, I'm using empty values in select to filter records in DB.
Empty values are for setting my filter to "ALL RECORDS PLZ" with no filter...

Looks like this :
State :
- Archived  (value = -1)
- Deleted (value = -2)
- Published (value = 1)
- Unpublished (value = 0)
- All (value = '')

I haven't any placeholder. The curre

[2016-11-21 13:58] jbanety opened #80 "Trigger change event on passed element"
Triggering the change event each time an item is added/removed by a user would be fantastic !
It also permit to bind event listener on the passed element. So callbacks could be added dynamically.

[2016-11-21 14:00] jshjohnson commented on #80
Hey @jbanety,

There is a callback for that already! - https://github.com/jshjohnson/Choices#callbackonchange

Thanks

[2016-11-21 14:00] #80 closed

[2016-11-21 14:06] jbanety commented on #80
Yes I know, but my Choices instances are generated dynamically from CMS.
Fields are in an XML file to define the form.
I can't set callbacks in XML.
So It would be simpler to trigger change event to the passed element to handle the event in a normal way.
It would work with third party script who listen to the select event by example

[2016-11-21 14:09] jshjohnson commented on #80
Oh I see. Hmm, I'm not keen on that. I've been attempting to keep the file size of Choices as minimal as possible; adding duplicate functionality for edge-cases is going to make that difficult unfortunately!

[2016-11-21 14:15] jbanety commented on #80
Yes I'm preparing a PR with only 20 lines added.
You'll see.

[2016-11-22 22:09] zslabs commented on #77
Will be watching this one closely, great ideas everyone!

[2016-11-24 09:28] jshjohnson commented on #77
Plan:

- [ ] Allow options with no/empty values (but with a label - single/multiple select)
- [ ] Remove current implementation of single select placeholders (single select only)
- [ ] Set class based on options with a 'placeholder' attribute (single select only)
- [ ] Style placeholder class (single select only)

[2016-11-25 07:15] jbanety commented on #77
👍

[2016-11-28 10:22] Fudoshiki commented on #54
Same issue Chrome 57

[2016-11-28 13:52] jshjohnson commented on #54
Resolved in [PR82](https://github.com/jshjohnson/Choices/pull/82)

[2016-12-05 13:28] StephaneTrebel commented on #39
FYI, I've done some tests and I think that :

- [ ] Ensure the duplicateItems config option works with select elements (i.e. no inputting a value that already exists)

is ok.

I have not tested the groups since I don't use them yet. If I do I'll give a heads up :)

[2016-12-05 13:35] StephaneTrebel opened #83 "Fuse custom threshold"
Since Choices bases its searches on Fuse, it could allow for some Fuse tweaks.
My main grip is `threshold` since it can give a weird user experience depending on its context, and the default one is 0.6 which is not even close to a "near perfect" search like we are accustomed to.

How about keeping the default, but allowing to pass a custom threshold in init options ?
Or, better, a subset of Fuse.j

[2016-12-06 15:32] jbanety opened #85 "callbackOnChange not fired when value set by setValueByChoice"
When I programmatically set select value with `setValueByChoice` method the onChange is not fired.
Only the onAddItem callback is triggered.
Quote from doc :

[2016-12-06 18:26] jshjohnson commented on #85
Hi @jbanety,

That is intentional, the onChange is only fired by a user change, not a programmatic change. As you are setting it pragmatically, you'll know that the state has changed so can run your code immediately after.

[2016-12-07 08:15] seregap opened #86 "The native 'change' event is not firing"
Use case http://codepen.io/anon/pen/WoJdVW

[2016-12-11 02:15] NekoStudio opened #87 "Uncaught TypeError: Cannot read property 'type' of null(…)"
Hello. Not working plug in the console such error

`Uncaught TypeError: Cannot read property 'type' of null(…)`

[2016-12-11 10:10] jshjohnson commented on #87
Hi,

I need more information than that. May I have your config please? A JSBin would be even better...

[2016-12-11 12:33] NekoStudio commented on #87
Sorry. I solved the problem. Incorrectly prescribed `elements` in `const choices = new Choices(elements);`
Another question, if you can)
Possible instead
[code]

Replaced by

[code]
?
Thank you.

[2016-12-12 09:18] jshjohnson commented on #87
Hi @NekoStudio,

To achieve what you suggested, I would need to create a jQuery wrapper for Choices. As the main purpose of Choices is that it doesn't require jQuery as a dependency, I don't plan to do that.

You can however do something like this though:

[code]

[2016-12-12 09:18] #87 closed

[2016-12-12 09:19] jshjohnson commented on #83
Hi @StephaneTrebel,

i like the idea of being able to pass Fuse options via the config - that should be a simple change to make so would be happy to review a pull request :)

Josh

[2016-12-12 09:20] #85 closed

[2016-12-12 09:23] jshjohnson commented on #86
Hmm, this looks like a bug to me. Let me investigate, thanks

[2016-12-12 14:50] zslabs commented on #77
@jshjohnson Any testing I can do to help out with this one? Thanks!

[2016-12-12 15:06] jshjohnson commented on #77
Hi @zslabs,

I'm uber busy at the moment at work - I don't think I'm going to make much progress on this until after New Year. I'm happy to review any pull requests though.

Apologies!

[2016-12-12 20:46] NekoStudio commented on #87
Thank you very much)

[2016-12-15 08:20] lavezzi1 opened #89 "How to hide placeholder from the list?"
Hello everyone,

I want to hide the placeholder from the list (choices list) is this possible?

[2016-12-15 08:21] jshjohnson commented on #89
Hi,

Could you send a screenshot to illustrate what you mean please? Thanks :)

[2016-12-15 08:23] lavezzi1 commented on #89
@jshjohnson I want to hide this item 'This is placeholder' because it looks very weird.
![screen shot 2016-12-15 at 16 22 07](https://cloud.githubusercontent.com/assets/10686894/21216619/bed46db2-c2e2-11e6-99b2-239cb8637503.png)

[2016-12-15 09:12] jshjohnson commented on #89
So the example you set is using the following HTML:

[code]

To remove the `This is a placeholder`, you just need to remove

[code]

Thanks

[2016-12-15 09:12] #89 closed

[2016-12-15 09:23] lavezzi1 commented on #89
@jshjohnson I didn't say that I want to remove it, I want to HIDE it. I want to keep placeholder.

[2016-12-15 09:25] jshjohnson commented on #89
Ah apologies. That's currently not possible but is in the works [here](https://github.com/jshjohnson/Choices/issues/77).

[2016-12-15 10:43] lavezzi1 opened #90 "How to validate select?"
Hello,

Can I validate your select using plugins like https://github.com/ansman/validate.js or https://github.com/skaterdav85/validatorjs ?

Or maybe you recommend something different. I just need to validate select on empty value, if nothing change then show error.

[2016-12-15 11:29] jshjohnson commented on #90
Hi @lavezzi1,

Could you perhaps give me a code example of how you would like to validate? Would it be when the user types?

There is `callbackOnChange` method that is useful for validation. Example:

[code]

[2016-12-16 17:59] erikskar commented on #39
Sorry, I do not understand how I do it.
Is it working or not?
Or is it still in development?

[2016-12-16 18:58] jshjohnson commented on #39
@erikskar This feature is still in development

[2016-12-17 11:12] itaditya opened #91 "CSS Classes not prefixed with plugin name"
When I integrate your plugin, it overwrites some classes of my custom css (eg. container).
All the plugin's css classes must be prefixed with **choices-** , eg: `.choices-container` , so that there is no overwriting.I am willing to make a PR regarding this issue.

[2016-12-17 11:23] jshjohnson commented on #91
You can actually change the prefix to whatever you like! Just download Choices, run `npm install`, change the prefix name in the Choices SCSS file and run `npm run css:build`. Thanks :)

[2016-12-17 11:24] jshjohnson commented on #91
See: https://github.com/jshjohnson/Choices/blob/master/assets/styles/scss/choices.scss

[2016-12-17 11:36] itaditya commented on #91
What about css file, because I'm not using SASS in my project

[2016-12-17 11:40] jshjohnson commented on #91
The SCSS file will compile to CSS

[2016-12-17 11:43] itaditya commented on #91
I installed your plugin with bower , will this work with bower too ?

[2016-12-19 09:18] rstacruz commented on #39
Can we help?

[2016-12-19 10:26] jshjohnson commented on #39
Hi @rstacruz - sure! I think this feature is really close to completion. It just needs some unit tests + some investigation into option groups (i.e what should happen if you have a groups of options and you add a new option).

[2016-12-29 06:12] rstacruz opened #92 "Empty option values aren't supported"
Can I have empty `value` attributes for options? Seems I can't.

[code]

[2016-12-31 17:16] #92 closed

[2016-12-31 17:24] jshjohnson commented on #91
The same tasks will need be run regardless of whether you installed with Bower or NPM

[2016-12-31 17:24] #91 closed

[2016-12-31 22:54] #90 closed

[2017-01-01 15:37] jshjohnson commented on #86
This has now been resolved as of [https://github.com/jshjohnson/Choices/releases/tag/v2.6.0](version 2.6.0).

Thanks

[2017-01-01 15:37] #86 closed

[2017-01-01 16:07] jshjohnson commented on #83
This has been resolved as of version [2.6.1](https://github.com/jshjohnson/Choices/releases/tag/v2.6.1).

Thanks

[2017-01-01 16:07] #83 closed

[2017-01-05 10:10] rsmything opened #94 "Allow to disable autofocus for search input"
Hello, it is not convenient when the phone keypad appears when you open the drop-down menu.

Now there isn't option to disable autofocus, only if disable search completely, can you add global option to setup "focusInput" (false/true)

    if (focusInput && this.canSearch && document.activeElement !== this.input) {
      this.input.focus();
    }

Thx

[2017-01-05 10:17] jshjohnson commented on #94
Hi @rsmything,

How would you envisage searching options if you had auto-focussing disabled?

Thanks,
Josh

[2017-01-05 10:41] jshjohnson commented on #94
Ah I see what you mean. That should be a simple change to make - I'm happy to review a pull request for this :)

[2017-01-05 10:56] rsmything commented on #94
Thx,
so, more one a question, how to handle advanced parameters from json, example:

[
  {
    "choices": [
      {
        "disabled": true,
        "selected": true,
        "text": "Please select a tracker",
        "value": "Please select a tracker"
      }
    ],
    "label": ""
  },
  {
    "choices": [
      {
        "text": "Visa Tracker - SC189",
        "value": "/au/trackers/visa-track

[2017-01-14 17:30] dgt41 commented on #39
@jshjohnson any progress here?
Can you release a beta (that doesn't include the groups part)?

Thanks

[2017-01-17 17:48] haggen opened #97 "Support page up/down to select first/last options"
Page up and down should jump, respectively, to the first and last options in the dropdown. On macOS it should be command+left/up and command+right/down.

[2017-01-18 12:12] anthonyav commented on #77
@jshjohnson Hello did you you have time since your last comment?

[2017-01-23 11:50] kayue commented on #53
Is there any updates on this feature?

[2017-01-23 14:40] jshjohnson commented on #77
I have implemented all parts of this feature besides forcing a placeholder to appear first in the choice list.

Experiment on the following branch: `git/feature/select-placeholders`

[2017-01-23 15:02] jshjohnson commented on #53
This is being managed as a part of this feature: https://github.com/jshjohnson/Choices/issues/77

[2017-01-23 15:02] #53 closed

[2017-01-24 03:00] kayue opened #98 "Change event's value should be null when item is removed"
I am hoping to get the latest value of the choices by listening to the change event:

[code]

This work mostly fine, except when user click the remove item button, the change event's `value` is still the previous value instead of `null`.

Is this an expected behaviour? Would it be better if it returns `null`?

-------

- https://github.com/jshjohnson/Choices/blob/2af4c51949680e8f90572bca83aceb419e

[2017-01-24 07:20] jshjohnson commented on #98
Hi @kayue,

It should return the value of the item being removed - this appears to be a bug. Let me investigate.

Thanks

[2017-01-24 11:36] jshjohnson commented on #98
Just investigated this - the correct value is being returned. So to clarify, the change event will return the value being removed or added.

[2017-01-24 11:36] #98 closed

[2017-01-24 18:50] jshjohnson commented on #97
Like the idea :) Will be happy to review any pull requests if people want this

[2017-01-24 18:56] jshjohnson commented on #74
This was harder than I first though as there are numerous ways of clearing the search input - I'll reopen if this gets enough traction from users but closing for now.

[2017-01-24 18:56] #74 closed

[2017-01-24 19:16] haggen commented on #97
I'm working on it. Also, `Command`+`Left`/`Right` is equivalent to `Home` and `End` keys, so scratch that, only `Command`+`Up`/`Down` should work.

[2017-01-24 19:58] haggen commented on #97
I just regretted that I said I was working on it.

[2017-01-26 09:21] jshjohnson commented on #97
Thanks for the PR - in response to your question, I need to know the direction to determine whether we should scroll to the top of the element (scrolling up) or to the bottom of the element (scrolling down). There is probably a more concise way of doing this though...

[2017-01-26 09:21] #97 closed

[2017-01-26 15:17] pbaris opened #100 "Rearange items with D&D"
It would be great if we could rearange selected items with D&D.
![screenshot from 2017-01-26 17-10-34](https://cloud.githubusercontent.com/assets/242612/22336545/49660890-e3eb-11e6-886b-5d27c0263485.jpg)

[2017-01-27 14:34] benjaminprojas commented on #77
I'm looking forward to this update! Glad to see its being actively worked on.

[2017-01-28 15:27] vegarringdal opened #101 "Events"
Is it possible to:

* know when someone opens the dropdown
* know when someone selects a item in a dropdown
* know when they try and search and then populate result from what ever result you get from server side?

I though there was a callbackOnChange event and callbackOnSearch before

[2017-01-28 16:29] jshjohnson commented on #101
Hey,

There are still events for search and change, see here: https://github.com/jshjohnson/Choices/blob/master/README.md#events

There is not however an event for opening a drop down. If people want it, it would be simple to add

[2017-01-28 17:54] vegarringdal commented on #101
sorry, over looked that somehow

[2017-01-28 17:54] #101 closed

[2017-01-29 10:20] nenad007 opened #102 "Question: how to work with large data sets?"
We have around 5'000 data records who the user can (multi) select.

When Choices fetch the data we had limit the API to 200 as more will slow down.
Is there a solution that Choices aside from Populate the Initial dataset will POST the entered value (if it not exist in the pre-populated data) to the API and show the results it got back from API?

[2017-01-30 09:06] jshjohnson commented on #102
Hi @nenad007,

Could you give me an example of your code highlighting what you're trying to achieve please?

Thanks

[2017-01-30 14:51] StephaneTrebel opened #103 "Remove Item Button has no type"
The nice little remove item button has no type, which can cause very unfortunate side-effects on some browsers like Firefox that make their type "submit" by default (see [the button documentation on MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#attr-type)). I haven't had the issue with Chrome, though.

Undesired side-effects include submitting forms on item removal, for ins

[2017-01-30 19:34] mike-robertson opened #104 "[BUG] setChoices with groups doesn't honor id in config"
If you `setChoices` for a list using the group options (array of groups, each which has choices within them), the `id` field passed is not used at all to set the group's id. Instead, the `index` of the group in the config array object is used. This is a problem because if you are trying to add a group at a time, the index is always 0 (so all groups have a groupId of 0). Example:

[code]

I'd actua

[2017-01-30 19:38] mike-robertson commented on #104
The fix is simple:
https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L793

Instead of just passing `index` there in the id arg, pass
[code]
However, I think that doing index there is weird because of the issue I highlighted. It should probably error if there is no id or generate on if none is given, not use the index.

[2017-01-30 20:55] lewishowles opened #106 "Feature: Custom noResultsText / noChoicesText per element"
It would be a nice touch in something I'm creating to be able to customise the verb based on some attribute of each item - for example 'No ingredients to choose from', 'No courses to choose from'.

I could loop through all selects and instantiate Choices manually, but I imagine this probably isn't super efficient.

I'm thinking perhaps allowing these two options to be functions which take the elem

[2017-01-30 23:19] jshjohnson commented on #103
Sounds like a simple solution - if you submit a pull request, I'll get this into the next release.

Thanks

[2017-01-31 04:19] StephaneTrebel commented on #103
Done !

[2017-01-31 08:11] SlyNet commented on #102
How to handle a case where the amount of items that are fetched from remote server is too large? So client will never have a full set of items that he is choosing from, but should be able to find a needed item?
For now we are using such code

[code]

To be able to update update options as user types. Is it supposed to be that way?

[2017-01-31 09:43] #103 closed

[2017-01-31 09:44] SlyNet opened #108 "change event is raised with old selected value when remove button used"
If value is selected and remove button is used than `change` event is raised but with old value selected.

How to determine that value was actually removed?
Here is an example: https://jsfiddle.net/hedgic/m44fggL1/2/ Try to select value and then remove it. Expected result is to have `null` in `value` of `ev.detail.value` but I'm receiving an old value

[2017-01-31 09:45] jshjohnson commented on #108
The value should be of the item removed. This issue has been raised before though so I'm beginning to think it should just be null... I'll look into it

[2017-01-31 09:46] SlyNet commented on #108
Is there a flag or any other event to know that value actually was removed, not selected?

[2017-01-31 13:28] SlyNet opened #109 "loading state is not reset if callback receives empty array"
In this [example](https://jsfiddle.net/hedgic/adh3d3x8/1/) "Loading" text is never hidden from drop down. A workaround is to pass `[0]`

[2017-02-01 21:50] haggen opened #110 "Support for HTML in options"
Is it possible to use HTML when adding options? For instance, a `<br>` for multi-line labels?

[2017-02-03 08:28] lazyhammer opened #111 "There is no git tag for v2.6.2"
See title :)

[2017-02-05 09:49] jshjohnson commented on #111
This has been resolved as of [version 2.7.0](https://github.com/jshjohnson/Choices/releases/tag/v2.7.0) - apologies!

[2017-02-05 09:49] #111 closed

[2017-02-05 09:50] jshjohnson commented on #104
Resolved as of [version 2.7.0](https://github.com/jshjohnson/Choices/releases/tag/v2.7.0)!

[2017-02-05 09:50] #104 closed

[2017-02-05 14:56] vegarringdal commented on #102
You could just fetch data as user searches and limit it to 10-30..

Played around with Aurelia and gist here with search on Choices (dunno if its any help)
https://gist.run/?id=5f8a6e9ce948dffc2f4798d6f525fb20

[2017-02-05 15:01] vegarringdal opened #112 "Can we set the dropdown to body?"
Can we set the dropdown to body?

So if used in a small dialog that scrolls it wont be hidden
Or a container that have overflow set to hidden.

[2017-02-09 12:06] stlsixers opened #113 "Can we use datalists with text inputs?"
Can we use datalists with text inputs?

http://www.w3schools.com/tags/tag_datalist.asp

[2017-02-09 14:25] jshjohnson commented on #106
This has been implemented as of [version 2.7.1](https://github.com/jshjohnson/Choices/releases/tag/v2.7.1) 👍

[2017-02-09 14:25] #106 closed

[2017-02-10 09:09] jshjohnson commented on #109
Hi @SlyNet,

This has been resolved as of [version 2.7.2](https://github.com/jshjohnson/Choices/releases/tag/v2.7.2).

Thanks

[2017-02-10 09:09] #109 closed

[2017-02-14 10:33] jshjohnson opened #114 "Demo site is down"
Investigating a Cloudflare 502 error

[2017-02-15 12:36] jshjohnson commented on #114
Resolved!

[2017-02-15 12:36] #114 closed

[2017-02-16 15:49] jshjohnson commented on #113
Not currently, although would look to implement this if enough people request it!

[2017-02-16 15:49] #113 closed

[2017-02-16 15:49] jshjohnson commented on #110
Hi @haggen,

Could you give me an example of how you envisage doing this?

Thanks

[2017-02-16 22:06] thejmsill opened #115 "Autofill a choices single select"
I'm trying to use the wonderful Choices for a credit card payment page and/or address page. Is there a way to have the autofill enabled?

Thanks!

[2017-02-17 09:20] jshjohnson commented on #115
Hey @thejmsill,

Are you using a text input or a select box for the credit card/address fields?

Thanks

[2017-02-17 19:22] thejmsill commented on #115
I was using select box ... typically it's the date, country or province/state dropdowns.

[2017-02-20 22:48] wroughtec opened #116 "Localise the flip/force a flip"
I have been experimenting switching from Select2 to Choices as really like how clean Choices is.

I have a dropdown which is fixed at the bottom of the screen (the html is much higher up) and with choices currently its trying to open the dropdown below when obviously there is no room to open the dropdown, in select2 this works.

I think its in the way it calculates of the viewport size:
[code]

So

[2017-02-20 22:58] wroughtec commented on #116
After a quick experiment
[code]

Seems to have resolved my issue but not 100% sure this would be a safe solution for everyone

[2017-02-21 07:54] jshjohnson commented on #116
Hey,

Thanks for looking into this! I'm guessing for your situation it would make more sense to enforce the drop down above or below instead of detecting it using the space available? As the mechanism to flip the drop down is already there, that would be a pretty trivial thing to implement.

Let me know what you think!

[2017-02-21 09:05] wroughtec commented on #116
Yeah that would help thanks

[2017-02-21 20:51] jshjohnson commented on #116
I have just implemented this in version [2.7.4](https://github.com/jshjohnson/Choices/releases/tag/v2.7.4).

See the new `position` config option [here](https://github.com/jshjohnson/Choices#position).

[2017-02-21 20:51] #116 closed

[2017-02-22 09:04] jshjohnson commented on #115
Using [`setValueByChoice`](https://github.com/jshjohnson/Choices#setvaluebychoicevalue) should achieve what you're looking for!

[2017-02-22 09:07] jshjohnson commented on #108
The [`removeItem`](https://github.com/jshjohnson/Choices#removeitem) event is triggered when an item is removed. [`highlightItem`](https://github.com/jshjohnson/Choices#highlightitem) is triggered when a item is selected/highlighted.

[2017-02-22 09:07] #108 closed

[2017-02-22 09:08] jshjohnson commented on #102
I believe @vegarringdal has answered the question. Please ask me to re-open this if not.

Thanks

[2017-02-22 09:08] #102 closed

[2017-02-22 14:55] wroughtec opened #117 "Separation of polyfills"
I appreciate this is something I can (and will) resolve for my project situation, but thought I would bring it up here anyway as a potential enhancement:

I use a polyfill service:
https://polyfill.io/v2/docs/examples#feature-detection

That I capture all the polyfills we require for our js and progressively enhance so the latest browser Chrome or Firefox do not download extra things they do not r

[2017-02-23 02:36] yangjiebeijing opened #118 "how can I add one group‘s choices（eg this group has 3 chioces ）"
hi， i want to add them by one time ，could i click the group to add them？

[2017-02-27 01:02] zslabs opened #119 "Feature request: itemList container"
Hey!
Wanted to get your thoughts on making the area in which `itemList` (or `.choices__list--multiple`) is appended to configurable. Right now, the input cursor jumps around with items that you select from the search-box, which can be a bit distracting. I think it'd be great if we could either pass through a container or intercept it somehow via the init function to append these to an outside area

[2017-02-27 12:08] manelmadeira opened #120 "Feature Request: Ability to disable filter of choices without removing the input"
Hi,

I would like to request to add a settings flag to disable the choices filtering when typing the search input but continue to emit the search event.

I'm using the on search event to search on an API endpoint.

Thanks,
Manuel Madeira

[2017-03-01 01:05] rstacruz commented on #27
I think we still have some IE11 issues. Searching doesn't seem to work. I'll update if I can make a replicable test case.

[2017-03-01 08:56] jshjohnson commented on #120
Hey,

This would be really easy to implement, I would be happy to review a pull request!

Thanks

[2017-03-01 08:57] jshjohnson commented on #118
Hi,

Do you want to add the group of choices programmatically?

Thanks

[2017-03-05 17:54] Dankovk opened #124 "Fails when server imports choices. "Document is not defined" when import."
`ReferenceError: document is not defined` comes when try to import in my server-side React app. The initializing and all logic comes in Client part (ComponentDidMount), but scripts aren't transpiling.

[2017-03-06 07:35] yangjiebeijing commented on #118
both programmatically and by mouse

[2017-03-06 09:03] jshjohnson commented on #124
Hi @Dankovk, could you send over the full error please?

Thanks

[2017-03-08 14:47] benjaminprojas opened #125 "Need access to showDropdown"
Hey! I noticed the new event `showDropdown` and I could really use this feature, however npm is showing the latest version is 2.7.2 which doesn't have that event.  Any ETA on when that will be updated?

Thanks!

[2017-03-08 15:05] benjaminprojas commented on #125
Just realized that the `showDropdown` event is not even in 2.7.5. Do you have an eta for the next release here/@npm?

[2017-03-08 15:17] jshjohnson commented on #125
Hi @benjaminprojas,

Apologies, I've just pushed a release with these events included. See [here](https://github.com/jshjohnson/Choices/releases/tag/v2.7.6).

Thanks

[2017-03-08 15:17] #125 closed

[2017-03-08 15:23] benjaminprojas commented on #125
Thank you! Much appreciated :)

[2017-03-09 15:33] benjaminprojas commented on #115
@jshjohnson I am wondering if this has to do with the browser autofill? I am having the issue where I select an address from the browser autofill and it does not update the select box for state/province or country for that matter.

![image](https://cloud.githubusercontent.com/assets/962530/23757016/92d6e1a0-04b3-11e7-96b3-df36ea732934.png)

Would love to see this supported.

[2017-03-09 15:44] jshjohnson commented on #115
You're right; it's being caused by browser autofill. Without disabling autocomplete entirely on inputs, I'm not sure of a clean solution to this problem 👎

[2017-03-10 13:15] benjaminprojas opened #126 "Ability to trigger event on click/enter - single select"
I am trying to trigger an event if an option is clicked/enter key is pressed - even if the value has not changed.  Currently I am running it on `hideDropdown` but this has the downside of firing every time you close the dropdown, even if you don't select an option.  Looking through the code, it would probably need to trigger an event inside the `_handleChoiceAction` method. Let me know if that mak

[2017-03-12 11:38] kostkobv opened #127 "Custom HTML elements within option template don't trigger any events"
Right now use of the custom template and additional custom elements within it makesdropdown half-usable: you're not able to select an option by clicking on the nested element.

You can notice it also on the demo page of the library itself (click on the icon of dropdown with custom template doesn't trigger choices events)!

[2017-03-12 13:28] kostkobv commented on #127
@jshjohnson created pull request with fix 😃

[2017-03-13 10:03] kostkobv commented on #127
@jshjohnson I think issue can be closed :1st_place_medal:

[2017-03-13 10:03] #127 closed

[2017-03-13 14:37] veiico opened #129 "Bug: iOS 9.0 doesn't listen to keyup"
As the title states, **iOS 9.0 doesn't listen to keyup event (native problem)**. This means that search field doesn't work on new iPhones. Simple solution to this is to add 'keypress' event listener to call '_onKeyUp' function (which I've tested and works) or replace 'keyup' event with it (main script line 1236).

Will fork for now, but please keep that in mind and try to fix it for other users :)

[2017-03-13 14:57] veiico commented on #129
P.S. Keep in mind that if taking the change 'keyup' event to 'keypress' event, search starts to search on third key rather than the second inputted key.

[2017-03-16 18:42] ea2809 commented on #39
News...

[2017-03-21 15:23] jonathan-dejong opened #130 "Get it working with jQuery AJAX"
Hi,

Great job on this! Feels much more solid than more established solutions like Chosen and Select2.

I'm having some issue with making it work with my jquery ajax request in WordPress.
I have a select element where I want it to fetch results via AJAX when user starts to search.
I've initiated the choices element on page load and then I have this:
[code]

It makes it's way into the choices_gener

[2017-03-21 15:40] jshjohnson commented on #129
Hmmm, don't know whether to make this configurable or be opinionated about it

[2017-03-22 08:05] jonathan-dejong commented on #130
I will answer myself in case anyone else comes here with similar questions.
I ended up reading up on promises and the fetch API and instead got it working with the "WordPress AJAX way".

Here's how I do it. Calling to an WordPress Ajax action and passing along a searchstring and a security nonce.
[code]

[2017-03-22 08:05] #130 closed

[2017-03-24 16:20] totti2007 opened #131 "enable or disable with external input"
hi
how can disable or enable a dropdown select with a button in html code?

[2017-03-28 01:11] kaelig opened #132 "aria-expanded should be set to "true" when dropdown is shown"
Thank you for this great project, and glad to see accessibility has been considered!

I feel like the list of choices's container which has aria-expanded="false" should have it set to "true".

<img width="962" alt="screenshot 2017-03-27 18 09 44" src="https://cloud.githubusercontent.com/assets/85783/24384419/90f659a6-1318-11e7-8592-ef68dd27eab4.png">

[2017-03-28 09:57] jshjohnson commented on #132
Ah ha! Good spot. I'll fix this ASAP.

[2017-03-28 10:02] jshjohnson commented on #131
Hi, there is information about the disable method [here](https://github.com/jshjohnson/Choices#disable).

If you wanted to manage it via clicking a button, you could do something like this:

[code]

[2017-03-28 10:02] #131 closed

[2017-03-28 13:03] jshjohnson commented on #126
Hey @benjaminprojas,

Apologies for the delay. Just to clarify, you would like an event for single select boxes that runs when any option is chosen?

Thanks

[2017-03-28 13:05] benjaminprojas commented on #126
@jshjohnson no worries!

Yes, something that will get triggered even if its not changing the value.

[2017-03-28 13:47] jshjohnson commented on #132
This has been resolved as of [version 2.7.7](https://github.com/jshjohnson/Choices/releases/tag/v2.7.7)!

[2017-03-28 13:47] #132 closed

[2017-03-28 13:48] jshjohnson commented on #126
This has been added to [version 2.7.7](https://github.com/jshjohnson/Choices/releases/tag/v2.7.7). See here: https://github.com/jshjohnson/Choices#choice

Thanks

[2017-03-28 13:48] #126 closed

[2017-03-28 13:54] benjaminprojas commented on #126
Fantastic! Thanks @jshjohnson

[2017-03-28 14:03] jshjohnson commented on #126
No problem, let me know if you have any issues

[2017-03-28 15:28] guiguille opened #133 "Always display groups in selectbox"
It would be great to always show groups label when searching an item.

[2017-03-31 04:17] inergy commented on #27
I'm seeing issues with ie11, due to the unsupported es2015 code in the index file:

`
249        addItemText: (value) => {
250          return `Appuyez sur Entrée pour ajouter <b>"${value}"</b>`;
251        },
`

[2017-03-31 05:58] jshjohnson commented on #27
Hi @inergy,

Is this on the demo site or your own code?

Thans

[2017-03-31 06:50] inergy commented on #27
On the demo site and I've cloned the repo and can reproduce locally.  The index.html file has es2015 code, which I tracked it down to [this commit].(https://github.com/jshjohnson/Choices/commit/8be12c20cd514febd6d0a79c73988129c2f9c5ea#diff-eacf331f0ffc35d4b482f1d15a887d3b)

I did a quick refactor using es5 and things started working as expected (although, there are a few issues to be resolve after

[2017-03-31 08:25] jshjohnson commented on #27
Thanks for the heads up - this should now be resolved with these two commits:

- https://github.com/jshjohnson/Choices/commit/31a57a0e2b42a611e74cac4fd70c2b10163c15ad
- https://github.com/jshjohnson/Choices/commit/9bb84df8d0466c79c75c332b09d4dc6efc1a8472

👍

[2017-03-31 08:34] tobireif opened #134 "Not requiring Enter"
On https://joshuajohnson.co.uk/Choices/ in the first example, creating a new item requires hitting Enter. Is it possible to instead have a setting where (each new string cannot contain spaces but) new items get created when Space is pressed?

[2017-03-31 14:30] lewishowles opened #135 "searchFloor and search text filter interaction"
I've recently started a new project with Choices (latest version), and I'm noticing a strange behaviour in filtering.

With a near-default setup:

![image](https://cloud.githubusercontent.com/assets/1140753/24554764/a114224e-1626-11e7-92f9-ae72c9b46463.png)

I'm getting these two sets of behaviour on standard single-choice select boxes:

![image](https://cloud.githubusercontent.com/assets/1140753/

[2017-03-31 16:18] lewishowles commented on #135
Hi Josh,

The above is the only config, so:

[code]

The select field in question is:

[code]

[2017-04-01 22:18] cmnstmntmn opened #136 "custom JSON"
hey, is there a way to pass a custom json to Choices? an item looks this way:

[code]

[2017-04-03 15:32] jshjohnson commented on #136
Hi @cmnstmntmn,

Could you give me some more information as to what you are trying to achieve? I think you're refereeing to the [`setChoices()`](https://github.com/jshjohnson/Choices#setchoiceschoices-value-label-replacechoices) method, by let me know.

Thanks

[2017-04-03 15:39] jshjohnson commented on #135
By default Choices will filter on both the value and the label of each choice with a default search floor of 1. This means your choices will only filter after a user has inputted a second character (but will search using the entire value).

As your labels already include the value, I would set your config to this:

[code]

I've realised that sortFields is a confusing name! It should be searchField

[2017-04-03 15:41] jshjohnson commented on #118
Hi @yangjiebeijing,

There is not currently a way to _select_ an entire group of choices. It is possible to _add_ a group of choices though. See the second example [here](https://github.com/jshjohnson/Choices#setchoiceschoices-value-label-replacechoices).

Thanks

[2017-04-03 15:41] #118 closed

[2017-04-03 15:43] jshjohnson commented on #134
That is not currently possible but I'll happily review a pull request if you want to have a go at it 👍

[2017-04-03 16:06] lewishowles commented on #135
I don't think that's quite the issue - it's matching all fields whose label contains a `+` when I type `5+` or any single character followed by a `+`.

e.g.

- 1+
- 2+
- Q+
- %+
- £+

All match five of the six possible options, when only the first two should match anything at all, and those two should only match one value - not five.

Fiddle at https://jsfiddle.net/lewishowles/tfbryzgx/ using the

[2017-04-04 09:33] adammockor opened #137 "disable() should make select not focusable"
This should prevent element to be focusable. But disabled choice still has ```[tabindex="0"]```
[code]

I can PR this if you are interested.

[2017-04-04 10:28] jshjohnson commented on #137
Yes please, that would be great!

[2017-04-04 11:10] #137 closed

[2017-04-04 14:51] jshjohnson commented on #77
Hi @adammockor,

See my comment here: https://github.com/jshjohnson/Choices/issues/77#issuecomment-274504748

Any help would be appreciated :D

[2017-04-05 10:08] #110 closed

[2017-04-07 07:50] #120 closed

[2017-04-07 08:10] jshjohnson commented on #77
Thanks to @adammockor, placeholders are now appearing first!

It would be really good if people could test `feature/select-placeholders` and flag any issues before I draft a new release.

Thanks

[2017-04-07 14:07] BackuPs opened #142 "Sort Selected Items Alphabetically"
Hi

Is is possible to sort the selected items alphabetically?  So if one selects from a drop down list London, Brussels, Amsterdam the select items appear as  Amsterdam, Brussels, London?

And how about having the selected items not in order of the list of selectable items?

suppose my ul li has  Amsterdam ,Brussels, London,  But the items are selected in London, Amsterdam, Brussels?

How do i set

[2017-04-07 15:27] jshjohnson commented on #142
Sure!

See [here](https://github.com/jshjohnson/Choices#sortfilter) for information about the sortFilter config option.

Thanks

[2017-04-07 15:27] #142 closed

[2017-04-10 07:10] synapticism commented on #117
Since people are already accustomed to having the polyfill included it probably makes sense to keep it there... but shipping a version without the included polyfill would be excellent for those of us who are counting bytes and managing polyfills in some other fashion ;)

BTW for the time being I found Webpack's [null-loader](https://github.com/webpack-contrib/null-loader) useful to safely excise t

[2017-04-10 08:00] jshjohnson commented on #117
I'm thinking I should probably build two versions per release; one transpiled to ES5 with polyfills and one in plain ES6 without polyfills.

[2017-04-10 10:07] synapticism opened #144 "Bundling errors from mixing ES6 import/export and CommonJS module.exports"
I am experimenting with importing ES6 source files from Choices into an environment setup for tree-shaking with Babel/Webpack. This is accomplished by *not* transforming CommonJS modules and relying solely on native ES6 import/export statements. Unfortunately Choices still has two `module.exports` calls in the source leading to the standard error message:

```Uncaught (in promise) TypeError: Canno

[2017-04-10 12:02] jshjohnson commented on #144
Hey @synapticism,

I think the real issue here is that you're including the source files rather than the compiled output. I think if I produce a compiled ES6 version of choices for each release, this should resolve your issue.

I'll get this thread posted with progress
Thanks

[2017-04-10 13:18] synapticism commented on #144
Yes, that's true, I tried compiling from source... this has the advantage of being able to knockout the polyfill bundle, or would if everything else were working ;)

Optimally this project would allow for compilation from ES6 source + tree-shaking to eliminate any unused features... but I understand that's much easier said than done, and this lib is already ahead of the curve in many respects!

[2017-04-10 21:33] jshjohnson commented on #144
Hey @synapticism - would you mind testing out the `feature/es6-version` branch. Would be good to get some feedback.

Thanks

[2017-04-10 21:35] jshjohnson commented on #117
Continuing this conversation [here](https://github.com/jshjohnson/Choices/issues/144)!

[2017-04-10 21:35] #117 closed

[2017-04-11 10:59] synapticism commented on #144
I'll take a closer look later on but at first glance this is working fine! 👍

[2017-04-11 22:25] vegarringdal commented on #112
Anything new on this one ?

[2017-04-12 08:04] jshjohnson commented on #112
Hey @vegarringdal,

It's not something I had planned on doing as the structure of the HTML needs to be very strict for Choices to work. I'll consider it if enough people ask for it and re-open this issue.

Thanks

[2017-04-12 08:04] #112 closed

[2017-04-12 08:05] #136 closed

[2017-04-12 13:29] vegarringdal commented on #112
ok, well if you get bored then you have challenge waiting :-)
Wanted to try and use it inside a table/grid, but didnt go well when popup got hidden by the overflow

Lets hope this is something other need to then :-)

[2017-04-13 07:08] danbruegge opened #146 "Option to let Choices fail silently?"
Can there be an option to let Choices fail silently if there is not element to select?

https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L193

I'll use Choices not on all pages. On every page with no `select` element, it throws the error message.

Regards, Dan

[2017-04-13 12:04] adammockor commented on #77
So maybe some kind of prerelease could help with testing?

[2017-04-13 15:35] jshjohnson commented on #77
Good idea, pre-release can be found here: https://github.com/jshjohnson/Choices/releases/tag/v3.0.0-beta

[2017-04-16 12:19] adammockor commented on #77
I was thinking more like npm release. Although you can point `package.json` to specific tag in git, there is missing new build. So it's not easily pickable.

[2017-04-18 21:39] CrashyBang commented on #77
Hey @jshjohnson,

Looking at the new release will it be possible to set a placeholder via the config object passed to `new Choices`? I am working with some CMS generated forms and adding a literal placeholder `option` to the select is proving to be a mission.

Cheers.

[2017-04-19 11:46] jshjohnson commented on #77
@CrashyBang You can do that already via the `[placeholderValue](https://github.com/jshjohnson/Choices#placeholdervalue)` config option :)

[2017-04-20 18:31] ojensen5115 opened #147 "Allow search prevention for multi-select"
I note that the 'search' option is only relevant to non-multi-select choices. This is a feature request to remove this restriction. It is particularly cumbersome when there are a relatively small number of options.

Currently I work around this as follows:

    var choices = new Choices(elem);
    choices.input.parentNode.removeChild(choices.input)

but it seems non-ideal to do have to do this out

[2017-04-20 21:29] CrashyBang commented on #77
Hey @jshjohnson,

Sorry I should have explained myself a little better, I am currently using the `placeholderValue` to set the text on the dropdown search input :).

What I am after is the `placeholder="This is a search placeholder"` functionality used on the first *Single select input* example, is it possible to do this via the config object?

Cheers.

[2017-04-21 06:58] ojensen5115 opened #148 "Enable firing of 'change' event on text-input choices"
Currently, the 'search' event is not triggered if the element passed to Choices is a text-input field, as `_handleSearch` is only called if `this.isTextElement` is false.

I'm trying to construct a Choices element on a text-input field which pulls suggestions from a remote server. My workaround for now is to attach a `keyup` event listener to the `.choices__input--cloned` child, but it would be mo

[2017-04-21 08:00] jshjohnson commented on #148
Hi @ojensen5115,

Although this is a small change, I think it would make the naming of the event a bit confusing. I'm wondering whether we should rename 'search' to just 'input' which would relate to all input types.

Either way, this is a simple change so I would be happy to review a pull request :)

Thanks

[2017-04-21 08:07] jshjohnson commented on #77
@CrashyBang Ah I see what you mean. There was a good suggestion [here](https://github.com/jshjohnson/Choices/issues/77#issuecomment-260451804) to make a new config option where you can define the placeholder of the search input separately. I'll look into this!

[2017-04-21 08:12] ojensen5115 opened #149 "Off-by-one error on searchFloor?"
I notice that if I do not pass in a searchFloor (and thus it defaults to 1), the search event fires only after the second character. More generally, when I pass a searchFloor of *n*, my search event fires only after *n+1* characters have been typed. Could this be an off-by-one error?

[2017-04-21 17:08] ojensen5115 opened #150 "duplicateItems directive does not survive call to setChoices"
Consider the following set of circumstances:

1. Choices constructed with `duplicateItems: false` in its initial config
2. Choices are populated via `setChoices` (e.g. as the result of a backend query)
3. An item is chosen
4. Choices are replaced via `setChoices` (e.g. as the result of a second backend query), and the new set of choices includes the same choice as was chosen before

Expected behav

[2017-04-21 17:32] ojensen5115 commented on #150
A bit of digging suggests this is because the `duplicateItems` config option is only checked in `_canAddItem` if the input is a text input.

[2017-04-25 11:09] mytaia opened #151 "set "regexFilter" value, but "maxItemCount" out of action"
at line 1089 start

[code]

[2017-04-25 12:41] jshjohnson commented on #151
Hi @mytaia,

Could you give provide some more info on this please?

Thanks

[2017-04-25 12:45] khawkins98 commented on #57
We've noticed this (or similar issue as well).

In short, when wrapping a `select` with a `label`, you can only click the label to open the select box.

Observations:
- Choices seems to receive the click, but (as you stated) looses focus.
- Keyboard navigation works fine.

Here's a codepen: https://codepen.io/khawkins98/pen/aWBOwP

Any initial thoughts/suggestions?

Tested in Chrome 57, FireFox 52

[2017-04-25 13:43] Aiso786 opened #152 "[Select] Brower freezing with a large dataset of values"
Hello guys, We have an issue with a Select receiving a large amount of values (700 rows). It takes some time for the Select to render and meanwhile the browser is freezing.

Do you have an idea ? I have tried to look into the code. Disabling the sort in the configuration helps a little bit but the browser is still freezing.

Thank you very much for your help.

[2017-04-26 07:40] jshjohnson commented on #152
Hi,

700 rows is a lot to show! That is always going to take a browser a long time to load. I would try fetching the results based on what a user is searching for.

Thanks

[2017-04-26 07:50] Aiso786 commented on #152
Hi, thanks for your reply 👍

[2017-04-26 08:16] #152 closed

[2017-04-26 09:20] mytaia commented on #151
the code follows
[code]
you can try to input 3 more items  .

as the code says,if you fill regexFilter ,the maxItemCount is invalid.The problem results that you can add more than three items but you limited it in the code.

[2017-05-03 15:11] adammockor opened #154 "Placeholder width"
I got problems with computing placeholder width. See image below.

![screenshot 2017-05-03 16 47 56](https://cloud.githubusercontent.com/assets/1824790/25666543/1b3d16b6-3021-11e7-9381-78df5940f72a.png)

Problem is in `getWidthOfInput` function returning wrong value, because it's getting width from span attached directly to body element, not inside of choices container.

I can imagine 2 different

[2017-05-03 15:12] jshjohnson commented on #154
Oooo, solution 2 sounds sweet!

[2017-05-09 08:18] jshjohnson commented on #39
There is still one issue here if you have a select box with groups - added items do not appear in the dropdown. I think in this situation a group should be added titled 'Miscellaneous' with custom items within it. I don't think this is a blocker though so i've merged this into version [2.8.0](https://github.com/jshjohnson/Choices/releases/tag/v2.8.0).

[2017-05-09 08:18] #39 closed

[2017-05-09 08:23] jshjohnson commented on #151
Hmm, okay. So are you saying that `maxItemCount` is being bypassed if the regex filter passes? I'm confused!

[2017-05-09 13:13] haheute opened #156 "Option to prevent form submit on enter?"
Does Choices have an option to prevent form submit on enter?
When adding tags to a tag list, if a user accidently presses enter, the form is submitted without tags (or with some missing).

I have tried to add a function to my page, but it did not affect the `choices__input`s, since they are dynamically added to the page (?).
thanks for help

[2017-05-11 07:39] rajasimon opened #157 "Multiple select limit not working properly"
I copied below code from https://joshuajohnson.co.uk/Choices/

[code]

The limit is not working. I installed this choices package using yarn. This installed 2.8 but I realised the example website uses 2.7 so I degraded to 2.7 and then also not working. But how come website select limit working?

[2017-05-11 08:55] jshjohnson commented on #157
Hi!

When you say not working, what do you mean? The maxItemCount should only let you select 5 items from the choices available, is that not working for you?

Thanks

[2017-05-11 11:26] rajasimon commented on #157
I can select more than 5 items from the list. But it suppose to select only 5 item.

[2017-05-11 14:14] jshjohnson commented on #157
Hi @rajasimon,

Apologies - it appeared a pull request caused an issue with this feature. I have pushed a new [version](https://github.com/jshjohnson/Choices/releases/tag/v2.8.1) that should resolve your problem.

Thanks

[2017-05-11 14:14] #157 closed

[2017-05-11 14:15] jshjohnson commented on #151
Hi @mytaia,

This should now be resolved as of [version 2.8.1](https://github.com/jshjohnson/Choices/releases/tag/v2.8.1).

Thanks

[2017-05-11 14:15] #151 closed

[2017-05-12 15:25] pl-mnm opened #158 "Search floor and show/hide dropdown"
Is it possible to hide the dropdown menu when you click in the input (multi-select) and reveal it when the user has typed the number of keys set by `searchFloor`?

I'm looking to trigger the dropdown and search once the user types in min. 3 characters (or whatever).

Thanks in advance.

[2017-05-15 20:51] freeman-g opened #159 "Press to select not shown on initial click"
Hello, thanks for the plugin!

I've written a small Vue.js wrapper for choices.js and it is nearly working, however, when I click my example select, the `press to select` listener/label is not shown for the first item, therefore the user cannot hit the enter key and select the first item.

Additionally, if the user performs a search, the top result from the search also does not have the press to s

[2017-05-16 08:28] jshjohnson commented on #149
Hi @ojensen5115,

Choices will only search if the search value is _greater_ than the search floor. Do you think this should be changed to greater _or_ equal to the search floor?

Thanks

[2017-05-16 10:44] rstacruz opened #161 "Don't commit built files in the repo"
Files like `assets/scripts/dist/choices.js` (and company) are needed to be rebuilt every time. This should not be the case.

## Fix

- Add `files` in package.json to whitelist all the files needed, but do NOT include `assets/scripts/dist/` in it.

- Add a `scripts.prepublish` in package.json to run `npm run js:build` (and whatever else is needed)

- Add `assets/scripts/dist/` to `.gitignore`

- Re

[2017-05-16 15:21] freeman-g commented on #159
Ok - my npm installed version of Choices.js was 2.8.0.  I noticed the latest commit message for 2.8.1, which I didn't find on npm yet, so I ran `npm install choices.js@2.7.8` and this resolved my issue.

[2017-05-16 18:47] ojensen5115 commented on #149
I think greater or equal would be more intuitive, for two reasons:

- The name searchFloor implies (to me) that it is the lowest number of characters which will trigger a search, which is not how it is implemented now.
- The default searchFloor of 1 results in (AFAIK) undocumented behavior of "search on" only searching when there are at least *two* characters.

That being said, if this was a consc

[2017-05-16 19:43] ojensen5115 commented on #161
If the dist files are removed from the repo, what would be the best way for those who aren't using node to get the built files?

[2017-05-17 11:58] jshjohnson commented on #161
/\ @ojensen5115 What he said

[2017-05-17 14:17] jshjohnson commented on #159
@freeman-g Apologies - there was a bug with version 2.8.0 that was resolved the day after! Please open source your Vue wrapper, I'll link to it from this repo. I'm sure people would use it :)

[2017-05-17 14:17] #159 closed

[2017-05-17 15:20] ojensen5115 commented on #135
@lewishowles Choices uses `fuse`, a fuzzy-matching string search, allowing for typos. By default, the fuzziness is *very* lenient, which can lead to confusing results. It sounds like what you're looking for is exact string matching, which you can get as follows:

If you're looking for exact matching from the beginning of the string, instruct fuse to accept only exact matches by giving it a fuzzine

[2017-05-17 15:29] lewishowles commented on #135
Hmm, saying `5555+ == 5+` is confusing is probably very lenient.

Thanks for the explanation, but I ended up ditching Choices so can't test.

[2017-05-17 15:29] #135 closed

[2017-05-17 15:51] ojensen5115 opened #162 "Document use for dynamically filled options"
The use case here is where you don't want to load all of the options (there may be tens of thousands), but you want to load options via ajax request when the user searches (similar to Select2's `ajax` option, and contrasting with Choices' `ajax` option which AFAIK only supports initial load of options). I believe this is a reasonably common use case, and found the method by which to accomplish thi

[2017-05-18 08:21] jshjohnson commented on #150
I made a change in the last release to `_canAddItem` which _may_ have solved this issue. That said, it sounds like you are after a flag to use when you use `setChoices` that will clear existing items, right?

That would be a really easy thing to implement if so. Let me know what you think

[2017-05-18 08:36] ojensen5115 commented on #150
I don't think that's what I'm after here. Essentially the "problem" case (as seen in v2.7.8) is as follows:

- initialize Choices on a multiselect `<select>` tag with `duplicateItems` set to false.
- select an item.
- use setChoices to replace the available options with a new list of options. Have this new list of options include the option that you already selected.
- Choices does not prevent you

[2017-05-18 11:11] jshjohnson commented on #150
Ahh I see - yeah I can see the problem now. Let me investigate 👍

[2017-05-18 11:14] jshjohnson commented on #147
In your example, are you using a single select input?

[2017-05-18 11:21] jshjohnson commented on #129
I've found no issues on iOS version 10.x.x (Apple may have fixed this) so closing this issue. 👍

[2017-05-18 11:21] #129 closed

[2017-05-18 11:22] jshjohnson commented on #100
I'm going to close this as nobody else has requested this - will reopen if necessary.

[2017-05-18 11:22] #100 closed

[2017-05-18 11:45] dgt41 opened #163 "Can we add one more option?"
Right now choices have an option to prepend something to the value of the added options. That is great but will not distinguish be cases between programmatically added options or manually added items. In our use case we need to prepend something to the value only for manually added items. So the request is to add one more option, e.g. 'prependUserAddedValue: null` which will prepend something to t

[2017-05-18 14:31] EmdevX opened #164 "Pass more array values for searching"
Is there a way to pass more values to the choices for the searching purpose?
I'm asking about this because the selectize.js take all the values and there is a way to determine in options which values should work as title and data-value. It will be awesome when Choices.js will work in the similar way.

Ex.
I would like to have possibility to search through the additional values.
[code]

[2017-05-18 16:03] ojensen5115 commented on #147
My use case involves a multi-select with a small number of options. The 'search' option (https://github.com/jshjohnson/Choices#search) is relevant for single-select inputs only, and thus is ignored for multi-select inputs. But it's a bit silly to have a text search when there are only e.g. 10 options.

[2017-05-18 16:03] jshjohnson commented on #156
Hi @haheute,

What type of input are you using? As a multiple select or a text input require the user to press enter to add items.

Thanks

[2017-05-18 16:05] jshjohnson commented on #147
Ah ha! You have highlighted an issue in my documentation :D

A search still works for a multiple select - see the example with the label 'Options from remote source' [here](https://joshuajohnson.co.uk/Choices)

[2017-05-18 16:21] ojensen5115 commented on #147
Searching does indeed work for multiple selects, but the configuration option is ignored and it's what I'm trying to *disable* (In the example you point to, I can still type to search). I have a small number of options in a multiselect, and I do not want the user to be able to type to search, so I pass `search: false` into the config. However, the user is still able to type to search. The only way

[2017-05-18 16:49] jshjohnson commented on #147
Unfortunately if you remove the search input, you lose a lot of functionality (like deleting items, selecting all items etc) since the input is the only way (currently) of figuring out what Choices instance is in focus.

That's why we have this at the beginning of `_onKeyDown`:
[code]

[2017-05-18 17:02] jshjohnson commented on #150
This should now be resolved as of [version 2.8.2](https://github.com/jshjohnson/Choices/releases/tag/v2.8.2)!

Let me know if you have any issues

[2017-05-18 17:02] #150 closed

[2017-05-18 17:03] jshjohnson commented on #149
I have changed the behaviour in [version 2.8.2](https://github.com/jshjohnson/Choices/releases/tag/v2.8.2) so the searchFloor is greater _or_ equal to :)

[2017-05-18 17:03] #149 closed

[2017-05-18 17:04] jshjohnson commented on #146
As of [version 2.8.2](https://github.com/jshjohnson/Choices/releases/tag/v2.8.2), there is now a `silent` [config option](https://github.com/jshjohnson/Choices#silent) to suppress console messages :)

[2017-05-18 17:04] #146 closed

[2017-05-18 17:07] jshjohnson commented on #158
This is not currently possible but it wouldn't be too much work to build this feature - I would be happy to review a PR!

[2017-05-18 17:13] ojensen5115 commented on #147
Indeed, it's a hacky workaround, which is why I am hoping for a "right way" to prevent searching on multi-selects within Choices.

That being said, based on your description it sounds like this feature would be more work than it's worth. In my case my workaround is "good enough" (with a small number of options, being able to e.g. select-all isn't super important), so I'm happy to continue using it

[2017-05-18 17:19] haheute commented on #156
Hi, yes it is a text input. Just thought one could add items with enter, but not submit the form when pressing enter while the cursor is in the input / the "press enter to add .." message is not visible. not sure

[2017-05-19 08:33] jshjohnson commented on #154
Merged into placeholder feature branch

[2017-05-19 08:33] #154 closed

[2017-05-19 09:59] benjick opened #165 "Multiple pre-selected values in "Multiple select input""
Is this possible? I see the ones using `<input type="text"` has the option of using `preset` to specify multiple chosen items, but I need to do this with the `<select>` version

[2017-05-19 10:02] jshjohnson opened #166 "Select element placeholders do not select when populating choices via `ajax()` method"
**Feature branch (`feature/select-placeholders`) issue:**

Adding a placeholder choice and then populating choices via ajax stops the placeholder choice being selected.

Example:
[code]

[2017-05-20 15:04] ojensen5115 commented on #165
IIRC Choices handles this for you the simple way: just make your option have the `selected` attribute before constructing the Choices around your select.

[2017-05-20 15:11] ojensen5115 commented on #161
I believe there is an option in Github to offer binary release downloads. If you wanted to remove the distfiles from the repo, you could put them there.

It'd be an extra step in your build process, and forgetting to update your binary release would mean that people downloading them would silently get an older version unless they thought to compare version numbers with the source code. I think it

[2017-05-22 08:12] Foreverofh opened #167 "disabled is invalid"
[code]

[2017-05-22 08:13] jshjohnson commented on #165
Hi @benjick,

There are three ways of doing this (one being the method @ojensen5115 mentioned):

- https://github.com/jshjohnson/Choices#choices
- https://github.com/jshjohnson/Choices#setchoiceschoices-value-label-replacechoices

[2017-05-22 08:13] #165 closed

[2017-05-22 08:14] jshjohnson commented on #167
Hi @Foreverofh,

What type of element are you passing to choices (text/select single/multiple etc)?

[2017-05-22 08:14] Foreverofh commented on #167
update

[2017-05-22 08:15] Foreverofh commented on #167
@jshjohnson  select single

[2017-05-22 08:16] jshjohnson commented on #167
`setValue()` is only meant to be used for text inputs. You are looking for [`setChoices()`](https://github.com/jshjohnson/Choices#setchoiceschoices-value-label-replacechoices).

Thanks

[2017-05-22 08:16] #167 closed

[2017-05-22 08:24] Foreverofh commented on #167
@jshjohnson Thanks

[2017-05-25 16:31] jshjohnson commented on #164
This isn't currently possible but it would be a nice feature I think. Willing to review any pull requests

[2017-05-25 16:36] jshjohnson commented on #163
Hey, I guess a cleaner solution would be the ability to optionally pass a function to the prepend/append option which would contain an argument like `byUser` - what'd you think?

[2017-05-25 16:38] jshjohnson commented on #161
I'm going to close this I can forsee me forgetting to do binary releases and I think it might confuse some people! Thanks

[2017-05-25 16:38] #161 closed

[2017-05-25 16:40] dgt41 commented on #163
Yes that would work as well and it's a cleaner approach overall

[2017-05-25 16:41] jshjohnson commented on #147
Going to close this as it's a big bit of work for not much benefit! Ill probably revisit this when/if I do a major rewrite. Thanks

[2017-05-25 16:41] #147 closed

[2017-05-25 22:40] dgt41 commented on #163
Oops, you've reverted the addItem functionality https://github.com/jshjohnson/Choices/commit/43f618822d76d69927ab7f746960739b8e93ee2c

[2017-05-26 06:56] rstacruz commented on #161
@jshjohnson @ojensen5115 this is what unpkg.com is for. It's a CDN for files uploaded to npm (eg, your built files). For instance, React's is hosted over at:

[2017-05-26 07:02] rstacruz commented on #161
...by the way, I'm asking this because it'd be much easier for us who would occasionally maintain forks of Choices. We can't always easily contribute our fixes back, because PR's here should not have the dist files rebuilt.

[2017-05-26 09:04] drnkwati opened #168 "Error this drop down is undefined"
I get this error massage in console after initialization
Type error this.dropdown is undefined
Have anyone had this issue before?

[2017-05-27 10:09] benunternaehrer commented on #119
Came across the same problem... If you want to have the items below the input field you can do this with css (using flex and flex order). Looks sth. like this:
[code]

[2017-05-28 16:36] vanduynslagerp opened #169 "Autocomplete for large dataset that delegate search to backend via Ajax"
First of all, thanks for Choices, it's a great library !

Currently the Ajax option allow to preload data in the select, but I didn't find a way to create an Autocomplete/Typeahead feature that delegate the search to the backend via Ajax. Something similar to [typeahead.js](https://twitter.github.io/typeahead.js/) or to the "Remote source" exemple of [selectize.js](http://selectize.github.io/selec

[2017-05-29 07:32] drnkwati opened #170 "Bug at Focus event on everything in document"
I think there is a bug i. Choices line 23139 Focus event on everything in document.
When i click anywhere on my document i get a TypeError this.dropdown is undefined.

[2017-05-29 10:14] jshjohnson commented on #170
Apologies, this should be resolved in the [latest release](https://github.com/jshjohnson/Choices/releases/tag/v2.8.3) (2.8.3)

[2017-05-29 10:14] #170 closed

[2017-05-29 10:14] jshjohnson commented on #168
Apologies, this should be resolved in the [latest release](https://github.com/jshjohnson/Choices/releases/tag/v2.8.3) (2.8.3)

[2017-05-29 10:14] #168 closed

[2017-05-29 10:16] jshjohnson commented on #169
Hey @vanduynslagerp,

Thanks! There is a good write-up here for handling this use case: https://github.com/jshjohnson/Choices/issues/162

[2017-05-29 13:05] Vinorcola opened #171 "Support for HTMLCollection"
Make your constructor support HTMLCollection (returned by document.getElementByXXX() functions).
Currently, it seems to only support array of elements ;)

https://developer.mozilla.org/en-US/docs/Web/API/HTMLCollection

[2017-05-29 16:06] vanduynslagerp commented on #169
Thanks a lot! That answer my question.
Any plan to add such feature to Choices in a more integrated way ?

[2017-05-29 16:11] jshjohnson commented on #162
Hey, is there anything I could change/implement that would make this process easier?

[2017-05-29 16:19] jshjohnson commented on #169
If you have a particular thoughts for handling this, it would be really useful if you could comment on [this thread](https://github.com/jshjohnson/Choices/issues/162) with your opinions. I guess it makes more sense to develop a solution based around what the people want 👍.

[2017-05-29 16:19] #169 closed

[2017-05-30 03:01] ojensen5115 commented on #162
Unless you wanted to support this operation natively by building it into the plugin, probably the easiest thing thing to implement would be just to document this.

For those implementing this themselves, or for you in case you choose to implement it inside the plugin: another optimization that didn't make it into my above writeup above would be to prevent an API call on a sub-search of an incomple

[2017-05-30 08:07] codev0 opened #172 "Update npm version"
Hi, in npmjs.com choices version is 2.8.0,
and in this version don't work `searchEnabled: false`.

[2017-05-30 08:48] Remcoman opened #173 "Searching using ajax can be really slow"
I've discovered a performance issue when the ajax method returns lots of results and you call it repeatedly. This is caused by the loop at [line 1232 of choices.js](https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L1232).

For example when the ajax method returns 100 results and is called 2 times, the render method is called 200 times! I fixed this issue by implement

[2017-05-30 09:01] Remcoman opened #174 "Pasting from context menu does not work"
When i trigger a paste by right clicking on the choices.js text input and clicking paste, choices.js does not register it as a change and as a result no dropdown will be shown. Is this on purpose? It seems kinda strange.

[2017-05-30 12:32] jshjohnson commented on #172
I've just published 2.8.3 to npm :)

[2017-05-30 12:32] #172 closed

[2017-05-30 21:50] adamsro opened #178 "Dropdown list items rendered multiple times when bulk adding options"
It seems that `render()` is called every time a choice is added and render removes all innerHTML DOM elements from the dropdown and recreates the list leading to poor performance with large sets, O(n2).

`setChoices` calls `_addChoice` in a loop which in turn calls `store.dispatch` and store calls render on every state change.

The pattern seems to look like: render 1 - clear - render 1, render 2

[2017-06-01 08:05] jshjohnson commented on #178
Hey!

There is certainly room for improvement here. There is also going to need to be a loop within the `render()` method but I'm wondering whether it would be better to dispatch to the store with a bulk of data...

[2017-06-01 17:08] adamsro commented on #178
Hi! Idk, the bulk dispatch seems to make the most sense to me, `ADD_CHOICES` and `REPLACE_ITEMS` or something. I like the idea of only making one call to update the state per user/api interaction. If `render` is only called once there's less reliance on the state checks within the function.

[2017-06-01 17:37] adamsro commented on #178
Using https://github.com/google/incremental-dom or https://github.com/patrick-steele-idem/morphdom Mmight be a nice way to improve rendering performance (less GC), particularly while searching since many choice results will remain the same as more search characters are added?

[2017-06-02 15:38] MicroDreamIT commented on #178
How to import if you use webpack, its saying,

`import  {Choices} from 'choices.js/assets/scripts/src/choices';`

error:

`Uncaught TypeError: Cannot assign to read only property 'exports' of object '#<Object>'`

But if i use this way nothing is happening,

[code]

error look like,

`Uncaught TypeError: Cannot read property 'type' of null`

[2017-06-03 10:44] jshjohnson commented on #178
@MicroDreamIT If you have installed Choices via npm, you just need to do this:

```import Choices from 'choices.js'```

[2017-06-03 10:48] jshjohnson commented on #174
Hey @Remcoman,

I agree that in this situation the dropdown should probably show. This would be pretty simple to change, we would just need to toggle the dropdown within the `_onPaste` method. I'd be happy to review a pull request!

[2017-06-06 17:35] tinovyatkin commented on #144
I think polyfills should be added at Webpack bundling level (maybe via concatenation if you want to), but not at the es6 source. Also, don't see the need to build separated ES6 version as you already have one and sources are included in your NPM distribution - just `export` the class will fix this issue.

[2017-06-08 21:35] jkrehm opened #180 "Use native select on mobile"
I looked at the documentation, issues, and PR's, so forgive me if this is answered somewhere else.

Is there a way to tell Choices to use the native select, e.g. an option that is passed into the constructor? That way the UI would benefit from the style but the UX would be native to the client.

I didn't see anything like that, so I looked at adding it into the code myself, but when I saw I'd need

[2017-06-13 08:01] jshjohnson commented on #180
Hey @jkrehm,

I'm a bit confused by the request - the title of this issue and the description don't really add up 😄

Could you please clarify?

[2017-06-13 12:34] marzubov commented on #180
Hello.

I think what @jkrehm meant is to show selected options as it is and have configuration option to open native options list on `showDropdown` rather than `choices__list--dropdown` for mobile devices.

[2017-06-13 16:59] jkrehm commented on #180
Sorry for the confusion. @marzubov is correct that I would like to be able to open the native options list on mobile, but I wouldn't want Choices.js to try to determine what is and is not a mobile device. I would like my own code to do that, and Choices have an option – e.g. `useNativeSelect` – that would tell it to show the native select. The Choices-styled element would show except when the user

[2017-06-14 15:59] kjugi opened #182 "Passing attributes from html data"
Is there any support for `data` attributes from HTML? I want to pass the values on specific `select` item and only to it. Can't do it in JS by passing `id` or other attribute b/c it must me reusable element. And to all, I'm passing default values or same classes too. Can I in another way pass element 2 times or in 2 different ways?

The best way is to pass `data` attributes to `select` and when ca

[2017-06-15 12:17] drcongo opened #183 "Allow choices property on text input"
I'm trying to use Choices as a tags input, so the user can add new items to the input as in the first few examples on your demo page, but they can also select from existing options like the later examples on that page. As far as I can work out, Choices only does one or the other though and the `choices` property does nothing on a text input. Is this correct?

[2017-06-17 22:07] LeCoupa opened #184 "Cannot add more than one choice with select and multiple attribute"
I cannot select more than one choice even though the select is set with the multiple attribute.

<img width="265" alt="screen shot 2017-06-17 at 10 06 40 pm" src="https://user-images.githubusercontent.com/1658644/27256586-51726334-53a9-11e7-9911-15d0bdd12cff.png">

I think that this is an issue with version "2.8.4". When I downgraded to "2.7.8", it worked perfectly.

[2017-06-18 17:38] jshjohnson commented on #184
Hey, could you please post your config please? Thanks

[2017-06-18 17:45] jshjohnson commented on #184
P.s nice theme :)

[2017-06-19 16:42] LeCoupa commented on #184
Thanks :) Here is my configuration, hope it helps:

[code]

[2017-06-19 16:43] jshjohnson commented on #184
Thanks - out of interest, if you remove `duplicateItems`, does the issue persist?

[2017-06-22 13:15] JayKid opened #185 "Custom properties on selected items"
Hi @jshjohnson,

Thanks for this awesome library, especially when it comes to the accessibility features 😍

However, when using the multiple-select with VoiceOver and going over the already selected items it just reads out "Remove Items" n times but not to what item the buttons actually correspond to.

This could be solved by creating a custom template with `aria-label="Remove item ${data.value}"`

[2017-06-23 08:25] Yatekii opened #187 "Search unusable slow in IE 11"
Hi!

So I know I shouldn't be using as browser disguised crap but my company leaves me no choice.

First of all on IE 11 a polyfill for Object.assign() is required. That one was easy.
Then suddenly search works. But abysmally slow (1-2 seconds latency until the list is adjusted).
I first thought it's the forEach() which is 5-10 times slower in IE than in Chrome according to [benchmarks](https://js

[2017-06-23 12:46] rolandtoth opened #188 "Trim displayed option"
Is it possible to trim the displayed option's label?

I have a select where indentation is set with non-breaking spaces, which looks fine in the options list but they are not needed when they are selected. Currently I do a simple replace in the core but it's not nice.

Ideally a new feature 'trim' or 'removeWhitespace' would be the best but perhaps it's possible with otherwise too.

[2017-06-25 10:14] jh88 opened #189 "Doesn't work with huge amount of data"
Here is an [exmaple](https://jsfiddle.net/hzey9yv8/5/), it only works with the small file. When I change to the bigger one, it just freezes.

[2017-06-26 13:10] benjaminprojas commented on #115
@jshjohnson I'd like to bring up this issue again as its a big cause for concern for our usage of Choices.js and almost a deal breaker.  Choices.js is perfect for us except this one issue.

You can see by the following screen recording that I believe this is a simple fix: http://cloud.supportally.com/163g1T2X1907

I believe only two (simple) things need to be done to make this work:

1. All the op

[2017-06-27 11:02] jshjohnson commented on #188
Hey @rolandtoth,

How are you adding options to Choices - via HTML or via the JS config?

Thanks

[2017-06-27 11:03] jshjohnson commented on #185
Hey @JayKid - this sounds like a great idea! Will happily review a PR

[2017-06-27 11:18] jshjohnson commented on #183
Hey @drcongo, this is correct. There is an open PR for adding custom items to a multiple select inputs which would have been good for this situation but there has been issues in its implementation. See progress [here](https://github.com/jshjohnson/Choices/pull/190).

Thanks

[2017-06-27 11:18] #183 closed

[2017-06-27 11:19] jshjohnson commented on #173
Sure! Would be interested in seeing how this would work :)

[2017-06-27 11:26] drcongo commented on #183
@jshjohnson Thanks for the info. I'd imagine using a text input for this kind of functionality would make way more sense than doing it on a multi-select though. Certainly if my backend (Flask / Django etc.) is expecting to validate the data coming back from the form, it'll be checking the data against the options it sent to the select to ensure there's nothing rogue in there.

[2017-06-27 13:46] rolandtoth commented on #188
Via HTML, using Choices on an existing select tag.

[2017-06-27 15:36] JayKid commented on #185
@jshjohnson I'm on it :)

[2017-06-27 15:58] jshjohnson commented on #187
Hi @Yatekii,

As of version 2.8.5, there is a now a [`searchResultLimit`](https://github.com/jshjohnson/Choices#searchresultlimit-4) which limits the amount of choices that are rendered - similar to your example :)

FYI - Choices uses [Fuse](http://fusejs.io/) to manage search/filtering. You can pass Fuse config options to Choices via `fuseOptions` when you initialise.

Thanks!

[2017-06-27 15:58] #187 closed

[2017-06-27 15:59] jshjohnson commented on #185
FYI - as of version 2.8.5, the value is passed to an aria label like you suggested :)

[2017-06-29 07:44] jshjohnson commented on #185
This has now been merged into version [2.8.6](https://github.com/jshjohnson/Choices/releases/tag/v2.8.6) 💯

[2017-06-29 07:44] #185 closed

[2017-06-29 07:46] jshjohnson commented on #182
You can't currently add custom properties via HTML but as of [version 2.8.6](https://github.com/jshjohnson/Choices/releases/tag/v2.8.6), you can pass custom properties to [items](https://github.com/jshjohnson/Choices#items)/[choices](https://github.com/jshjohnson/Choices#choices) via JS . Will re-open this if more people request this.

[2017-06-29 07:46] #182 closed

[2017-06-29 07:49] jshjohnson commented on #164
This has now been implemented into version [2.8.6](https://github.com/jshjohnson/Choices/releases/tag/v2.8.6) 🎉. See [here](https://github.com/jshjohnson/Choices#items) for adding custom props to items and [here](https://github.com/jshjohnson/Choices#choices) for choices (note: this also works with `setChoices()` etc).

[2017-06-29 07:49] #164 closed

[2017-06-29 14:59] JayKid opened #192 "Update readme regarding setValueByChoice"
I wanted to set several options at once in a multiple select via the `setValueByChoice` method and by reading the docs I understood that it was not possible. However, when I went to modify the library to enable that, I saw that in the annotations of the method that it is possible indeed.

So I created a PR where I updated the readme for other people not to run into the same "problem" and open issu

[2017-06-30 11:41] Ruslan03492 opened #194 "How to get choices from external js file"
How to get choices from external js file?
For example Selectize.js element have property `$(this)[0].selectize` and i can work with object.
How to work with Choices object?

[2017-06-30 12:06] jshjohnson commented on #194
Hey!

It depends how you have loaded Choices. If you have just put the script tag on your page, you will be able to access it via `window.Choices`, otherwise you will need to import it into a JS file e.g `import Choices from 'choices.js'.

Thanks

[2017-06-30 12:08] jshjohnson commented on #194
If instead you want the object for a particular instance, you would do this:

[code]

[2017-06-30 12:08] #194 closed

[2017-06-30 12:13] Ruslan03492 commented on #194
Thanks, but how to call a specific choice?

[2017-06-30 12:20] Ruslan03492 opened #195 "How to get choices from external js file"
Thanks, but how to call a specific choice from simple js (not react oe angular)?
I did this in one file:
[code]
How to make it in another .js file? For example:
`example.showDropdown();`

[2017-06-30 14:10] JayKid opened #196 "setValue doesn't pass along the custom properties when provided an object"
Hi again @jshjohnson,

I discovered this while using the newly introduced custom properties. Basically, I introduced one parameter too much in a call to `_addItem` from `_addChoice` (here: https://github.com/jshjohnson/Choices/pull/191/commits/0b3cf1a355957194cb2a1cde8f5e4cd21d9111ab#diff-27edd04b91c69d5ee4cfac4012766ef7R2202) so the former doesn't get the custom properties and can't set them in t

[2017-06-30 15:44] jshjohnson commented on #195
Hey,

I'm not entirely sure what you mean. If you need access to choices within a JS file, you would need to install it via npm (see the read me), and then import it at the top of your file

```import Choices from 'choices.js'```

[2017-06-30 15:50] jshjohnson commented on #115
Hey @benjaminprojas,

I'm going to investigate this for you! Will provide updates soon

[2017-06-30 15:58] jshjohnson commented on #196
Merged! Thanks

[2017-06-30 15:58] #196 closed

[2017-06-30 16:02] benjaminprojas commented on #115
Thanks @jshjohnson! I was able to get a workaround by using some custom Javascript to follow my two steps above and its working for me now. but would be nice if it was native :)

[2017-07-02 16:34] jshjohnson commented on #192
Thanks! Merged

[2017-07-02 16:34] #192 closed

[2017-07-03 07:29] jshjohnson commented on #189
Hey @jh88,

Thanks for highlighting this - it certainly helped me pinpoint some performance bottlenecks. I am experimenting with the ability of "bulk" adding choices to reduce the browser workload which would stop this freeze. With that said, adding 4000+ elements to the page is always going to be slow to render.

Thanks

[2017-07-04 09:36] Ruslan03492 commented on #195
I need the ability to change the current object in another js file
`var example = new Choices(el);`

[2017-07-04 10:40] jshjohnson commented on #195
I'm still not really understanding your question, could you provide me more code detailing the issue please?

[2017-07-04 12:52] jshjohnson commented on #119
Going to close this for now - will re-open if more people request it. Thanks

[2017-07-04 12:52] #119 closed

[2017-07-04 12:55] jshjohnson commented on #134
Going to close this for now - will re-open if more people request it. Thanks.

[2017-07-04 12:55] #134 closed

[2017-07-04 12:58] jshjohnson commented on #188
Personally, I think this should probably be handled before you pass data to Choices. I'm going to close this for now but will re-open if somebody else requests a similar feature. Thanks.

[2017-07-04 12:58] #188 closed

[2017-07-04 12:58] jshjohnson commented on #184
Closing due to inactivity.

[2017-07-04 12:58] #184 closed

[2017-07-04 19:19] grzegorztomasiak commented on #195
Well, Ruslan wants to instantiate Choices in .js file and then get that instance in another, however this is not Choices specific question but more architectural.

[2017-07-04 19:39] grzegorztomasiak opened #198 "Choices is not a constructor in TypeScript (Vue)"
I am receiving this error Error in mounted hook: ```"TypeError: choices_js_1.default is not a constructor"``` when trying to instantiate Choices in TypeScript.

Here's how my component looks like:

[code]

Do you have any idea why?

[2017-07-05 06:56] jshjohnson commented on #195
Ah I see! Sorry.

I agree, this is an architectural question. A Choices instance (like any other variable) is assigned to the enclosing scope it is within. If you must access it globally, assign the instance to the window (I wouldn't advise this though).

[2017-07-05 06:56] #195 closed

[2017-07-05 07:57] jshjohnson commented on #198
Hey @grzegorztomasiak,

What does Choices console log out? Also, you should be passing a select element to the constructor rather than a div.

Thanks

[2017-07-05 11:43] grzegorztomasiak commented on #198
The whole console log error below:

[code]

Ok I know the solution:

I had to import Choices like this:

```import * as Choices from 'choices.js'```

This one fails in my project
```import Choices from 'choices.js'```

I am not sure why, anyway now it works.

[2017-07-05 12:19] jshjohnson commented on #198
Looking online, this seems to be a TypeScript issue. According to StackOverflow, this should resolve your issue:

```import {Choices} from 'choices.js'```

Thanks!

[2017-07-05 14:25] grzegorztomasiak commented on #198
I also tried it and the error was the same.

The only way it works for me is ```import * as Choices from 'choices.js'```

Here's how my tsconfig looks like (if that matters):
[code]

I am still newbie in TypeScript, ES6 world so I don't understand some things yet.

However what I noticed, importing works as follows:
```export const MyChoices = new Choices(...)```

You can access it via
``` import

[2017-07-05 15:08] jshjohnson commented on #198
So with ES6, if you provide a default export like this:

```export default YourCode```

You can then import it like:

```import YourObject from 'YourFile'```

However if there is no default export, you will need to import it like this:
```import { YourObject } from 'YourFile'```

In your config, try changing the following and see if this resolves your issue:
[code]

[2017-07-05 15:42] grzegorztomasiak commented on #198
Oh yes!!! Changing `module` to `es6` did the trick and I am able now to make imports like:

    import Choices from 'choices.js'

I will google now the differences in `module` property to get know a bit more what's happening under the hood.

Thank you very much!

[2017-07-05 16:24] jshjohnson commented on #198
No worries! :)

[2017-07-05 16:24] #198 closed

[2017-07-06 14:08] virajsoni06 commented on #112
@jshjohnson @vegarringdal I'll +1 to this.

This is important when it comes to card based layouts. I am facing an issue where the UI elements are in card format with horizontal scroll, border radius, etc for which we had to add `overflow: hidden`

In doing so, the Choices dropdown gets hidden behind the card.

[2017-07-07 09:08] bartlenaerts opened #200 "Input with autocomplete and custom value?"
Hi,

is it possible to have a `Choices` element with options added to it but also the possibility to enter a free value if it is not available in the list of options?

To describe it a little more, I'd like to start typing in a `Choices` component and a dropdown with predefined options is shown. I can select an option in the dropdown. But if the option I want is not there, the text that I typed in

[2017-07-08 09:25] jshjohnson commented on #200
Hey @bartlenaerts,

Currently that isn't possible but it has been requested before. There is a feature branch for it but it's proven more complicated than I expected!

Thanks

[2017-07-08 09:25] #200 closed

[2017-07-10 13:08] ryanbuening opened #201 "Is there a CDN that hosts the JavaScript and CSS files?"
Just wondering if a CDN is available for Choices. Thanks.

[2017-07-10 14:28] jshjohnson commented on #201
Hey @ryanbuening,

Not as fair as I am aware. However it looks like Choices is going to be added to cdnjs.com [soon](https://github.com/cdnjs/cdnjs/pull/11493).

Thanks

[2017-07-10 14:28] #201 closed

[2017-07-10 15:03] Ruslan03492 opened #202 "How to move input"
Hello! How to move input for single select on top?
http://prntscr.com/ftx27e

[2017-07-13 10:00] jamin87 opened #205 "Choices.js will not update a value property which has been set on a text input before the plugin instance is created"
I'm writing part of an interface which generates form elements using`document.createElement()`. Some of the form inputs will have existing values which are set using the `value` property (`inputDOMElement.value = 'some value'`).

This seems to work fine for `<select>` elements without any problems. With `<input type="text">` elements the plugin seems to render the existing value as an item just li

[2017-07-14 15:58] oWallyson opened #207 "Add Keycode value to the Events: choice, change..."
In a normal event call like below:
element.addEventListener('choice', function(event) {
  // do something creative here...
  console.log(event.detail.id);
  console.log(event.detail.value);
  console.log(event.detail.label);
  console.log(event.detail.groupValue);
}, false);

Is it possible to also include the keycode in the event.detail object like this:

element.addEventListener('choice', functi

[2017-07-18 07:48] jshjohnson commented on #207
Hey!

I'd be happy to review a pull request for this. Sounds like a good idea.

Thanks

[2017-07-19 11:34] rasben opened #210 "Missing hideDropdown(), showDropdown(), toggleDropdown,"
Apologises if I'm misunderstanding something here, but I dont seem to be able to use the following functions on my `select multiple`:

[code]

They dont seem to be defined:

`console.log(choices)`
![screen shot 2017-07-19 at 13 32 10](https://user-images.githubusercontent.com/12376583/28364945-e611ca2a-6c86-11e7-9e9b-8a295e4b5fb3.png)

[2017-07-19 11:47] jshjohnson commented on #210
Hey @rasben,

That is odd. Could you please let me know what version you are using and send me your config.

Thanks

[2017-07-19 11:51] rasben commented on #210
(NPM)
`"choices.js": "^2.8.7",`

[code]

Just see the {{ 'whatever'|translate }} as strings :)

Thanks for quick answer @jshjohnson

[2017-07-19 11:54] jshjohnson commented on #210
Ah! I know why.

The methods you mentioned are assigned to the Choices class (Choices.prototype) instead of the instance. Methods like destroy, disable, render etc are binded to that particular instance.

Thanks

[2017-07-19 11:54] #210 closed

[2017-07-19 11:59] jshjohnson commented on #210
Thanks for raising this though, really only `render` needs to be binded to the instance!

[2017-07-19 12:03] rasben commented on #210
Thanks for the super quick answer @jshjohnson , I'll look into the prototype thing :)

Why would i only need to bind render? All the settings im sending along are options to the element..?

[2017-07-19 12:13] jshjohnson commented on #210
Sorry, I worded that badly! You wouldn't need to bind anything. I mean the library should only bind `render` as it is needed for Redux to do its thing :)

[2017-07-19 12:17] rasben commented on #210
Ahh! Got it :) Thanks!

[2017-07-19 12:19] jshjohnson commented on #210
By the way, you can still call hideDropdown etc like this:

`instance.hideDropdown()`

You don't need to do:

`instance.prototype.hideDropdown`

[2017-07-19 12:20] rasben commented on #210
What is `instance` in this case? Sorry if im being daft @jshjohnson

[2017-07-19 12:43] jshjohnson commented on #210
Not a daft question :)

Your instance is where you initiate Choices like the following:

[code]

[2017-07-19 12:57] rasben commented on #210
I feel like we've gone full circle now - the original issue was that i couldnt do just that?

E.g.
`const choices = new Choices(select, { BLA BLA }); `

`choices.hideDropdown()` did nothing?

[2017-07-19 13:12] jshjohnson commented on #210
Haha. It may have done nothing because the dropdown was already closed?

If you look at the source of the demo [page](https://joshuajohnson.co.uk/Choices/), you can see how these methods are being called.

There is also more info [here](https://github.com/jshjohnson/Choices#methods).

[2017-07-19 13:23] rasben commented on #210
...I'm the biggest idiot in the world..

I was binding hideDropdown() to be when you clicked on the choices element.. but of course that is bound to toggle by the core code..

derp.. I fixed it by making a psuedo element

Sorry for the roundabout discussion :)

Btw i'm really impressed with this module - it's so well rounded and awesome!
Here's my final result (with the offending close button :))

[2017-07-19 19:30] jshjohnson commented on #207
This will be in the next release 👍

[2017-07-19 19:30] #207 closed

[2017-07-19 19:31] jshjohnson commented on #210
No worries - Looks good man!

[2017-07-19 19:51] jshjohnson commented on #205
Hey,

I've pushed a potential fix to this in [version 2.8.9](https://github.com/jshjohnson/Choices/releases/tag/v2.8.9). Let me know if the issue persists and I'll re-open this issue.

Thanks

[2017-07-19 19:51] #205 closed

[2017-07-20 02:33] benjaminprojas opened #212 "Uncaught TypeError: Cannot read property 'keyCode' of undefined"
This seems to only happen on multiselect boxes that are initialized without any selections. This issue happens on your demo site and I am also experiencing it myself. The following screencast shows it happening.

http://cloud.supportally.com/16322Y273Z1h

[2017-07-20 03:02] chekovsky commented on #212
This also happen with predefined options. Steps do simulate this issue using the demo site:

1: Go to the **Options from remote source (XHR) & remove button** example
2: Select one of the options
3: Click the "x" button to remove the selected option
4: Try to select another option (this will throw the error)

The example above is using ajax, but a simple select with predefined options will trigger

[2017-07-20 09:15] JayKid opened #213 "Object.assign is not available in IE and older browsers"
Hi Josh,

I found this out while looking at error logs (IE..)

I created a PR that adds the MDN polyfill for Object.assign() to your set of polyfills,

Cheers :)

[2017-07-20 11:09] jshjohnson commented on #212
I've pushed a fixed in [version 2.8.10](https://github.com/jshjohnson/Choices/releases/tag/v2.8.10) - sorry everyone!

[2017-07-20 11:09] #212 closed

[2017-07-20 15:57] benjaminprojas commented on #212
Thanks @jshjohnson! will test this out tonight.

[2017-07-20 17:11] flaviooliveri opened #215 "Can we have the possibility to render only the N first choices?"
The idea is to limit the number of choices in the dropdown. Render only the first, for example, 20 and use the search for the rest. I have 400 choices and it's really slow but I can use something like that. I did a hack in the renderChoice method but it would be nice to have support for it with an option.

[2017-07-21 00:18] chekovsky commented on #212
Hi @jshjohnson !

Can you publish 2.8.10?

Thanks!

[2017-07-23 09:10] jshjohnson commented on #212
Done!

[2017-07-24 10:27] acoiro commented on #213
@jshjohnson You probably want to add `Object.assign` to "Features used in Choices" at https://github.com/jshjohnson/Choices#browser-compatibility

[2017-07-24 13:47] jshjohnson commented on #215
Hey - I've just pushed this feature in master, it will be included in the next release :) I'll comment when that's launched.

[2017-07-24 13:47] #215 closed

[2017-07-24 13:47] jshjohnson commented on #213
@acoiro Done!

[2017-07-24 13:47] #213 closed

[2017-07-24 13:48] jshjohnson commented on #189
In the next release, there is the ability to limit the amount of Choices rendered which should hopefully significantly improve the performance. I'll post a comment when that release is launched.

[2017-07-24 13:48] #189 closed

[2017-07-24 18:21] rafaelrenanpacheco opened #217 "Single select without a default selected option"
Hi there!

This issue actually talks about two issues. The first one is about setting up Choices.js to not pre-select a default option. For example, if I have the following select:

[code]

The result will be the first value to be pre-selected by choices.js, without a option to say otherwise, like this:

![screenshot from 2017-07-24 15-11-16](https://user-images.githubusercontent.com/12160864/2853

[2017-07-24 18:23] chekovsky commented on #77
Hi there!

Is there any progress on this issue?

Being able to set the `searchPlaceholderValue` will be a good addition to this project. So far the search text must be the same as the input placeholder, which isn't very user friendly.

Best regards,
Rafael Pacheco.

[2017-07-24 21:16] flaviooliveri commented on #215
Thanks!

[2017-07-31 16:53] dmreagan commented on #201
It's on [unpkg](https://unpkg.com/choices.js@2.8.11/).

[2017-08-01 10:44] mikolajgrzyb commented on #189
Hey, @jshjohnson,

I recently played with choices.js and noticed huge render issues even with 260 items.
It's probably due to 1 by 1 addition of the choices (seen it in ajaxCallback function). What seems to be lacking is some 'bulkAddChoices' redux action that will just hit once the store and produce only one state change event. That will greatly increase rendering speed.

I like the plugin very m

[2017-08-01 10:54] jshjohnson commented on #189
Hey @mikolajgrzyb @jh88

The ability to [limit the amount of rendered Choices](https://github.com/jshjohnson/Choices#renderchoicelimit) was made available in [version 2.8.11](https://github.com/jshjohnson/Choices/releases/tag/v2.8.11).

I'm definitely going to look into bulk adding choices soon as quite a few people have requested it!

[2017-08-01 12:07] mikolajgrzyb commented on #189
@jshjohnson Thanks, I missed that!

[2017-08-02 11:59] sergonius commented on #182
It would be nice if the plugin allowed passing additional classes at least. `<select class="item item--variation">....</select>` after initialised with `.item` selector will lose `item--variation`.

[2017-08-02 12:48] sergonius commented on #217
Yeah, the placeholder only shows in the search input when the Choices is opened up which is not expected behaviour IMO.

[2017-08-02 16:07] jshjohnson commented on #148
Closing for now - will reopen if more people request it.

Thanks

[2017-08-02 16:07] #148 closed

[2017-08-02 16:08] jshjohnson commented on #133
Closing for now - will reopen if more people request it.

Thanks

[2017-08-02 16:08] #133 closed

[2017-08-02 16:09] jshjohnson commented on #171
Closing for now - will reopen if more people request it.

Thanks

[2017-08-02 16:09] #171 closed

[2017-08-03 09:11] #217 closed

[2017-08-03 14:29] rafaelrenanpacheco commented on #217
Perfect, thank you very much 😁

[2017-08-03 15:47] jshjohnson commented on #77
Hi all!

As of version [3.0.0](https://github.com/jshjohnson/Choices/releases/tag/v3.0.0), Choices now supports setting an option with no value as a placeholder as well as a `searchPlaceholderValue` config option!

Sorry for the long wait 🙈

Thanks for your help

[2017-08-03 15:47] #77 closed

[2017-08-03 15:51] jshjohnson commented on #94
Closing this as focusing/blurring the input is how Choices determines an active dropdown.

[2017-08-03 15:51] #94 closed

[2017-08-03 15:52] jshjohnson commented on #166
Resolved as of [version 3.0.0](https://github.com/jshjohnson/Choices/releases/tag/v3.0.0)

[2017-08-03 15:52] #166 closed

[2017-08-03 15:52] #162 closed

[2017-08-03 20:22] #144 closed

[2017-08-03 20:22] jshjohnson commented on #144
Closing this as I don't really think it's necessary :) The source file is the es6 version.

[2017-08-04 08:09] sergonius opened #220 "Having empty choices array in settings produces weird results"
I store default settings in a `defaultSettings` variable (all available settings) and when I call Choices I merge them with the passed settings.
The `choices` option in `defaultSettings` is an empty array.

What happens is that all the choices are in some way combined for all instances except one.
It took me a while to figure it out and the outcome is quite weird.

Simple test case:

[code]

[code

[2017-08-04 14:03] tomalexhughes opened #221 "Option as part of a multi-select has defaultSelected set to true even though the value is not selected by default"
I have a multi-select that uses Choices.

When I select values from the multi-select the options are generated with a defaultSelected property set to true.

I want the option to become selected, with a defaultSelected value of false, to indicate that the value is now selected but was not originally selected.

Even with selected set to false within my array of choices, they are still rendered with

[2017-08-08 14:45] Ruslan03492 commented on #202
https://github.com/jshjohnson/Choices/pull/222

[2017-08-08 14:52] Ruslan03492 commented on #194
Thanks! I am used.
[code]

[2017-08-10 14:52] lion-man44 opened #223 "How to use choices.js on webpack?"
I'm using `webpack`.

[code]

I tried choices.js.
However happend build error.
It is because svg file can not found.

[code]

[code]

I know that it will work if it is an absolute path.

[code]

This code will not faild to build.
But, it is to edit directly `node_modules/choices.js/assets/styles/css/choices.css`
I don't want to do it.

Are you have any good idea?

[Edit]
Can copy that file, but th

[2017-08-10 17:08] #221 closed

[2017-08-10 19:19] jshjohnson commented on #221
Hey - did you find a solution to your problem?

[2017-08-11 18:34] zackschuster commented on #223
Overwrite the icon path prior to import:

[code]

Coincidentally, you need to do something similar for font-awesome:

[code]

[2017-08-12 05:21] lion-man44 commented on #223
I'm not use `scss-loader` .
I'm use `css-loader` and `postcss-loader` .

I see.
In other word's, can't solve it as long as 'choices.js/assets/styles/css/choices.css` it used.
Hmm...

[2017-08-12 10:59] jshjohnson commented on #223
From what I've understood, this problem is being caused by the relative path, right? If it's changed to absolute, it works?

[2017-08-12 10:59] jshjohnson commented on #220
This sounds like a bug, let me investigate 👍

[2017-08-12 11:56] lion-man44 commented on #223
Yes.
As far as I'm try is no problem.
`url('/cross.svg')` // => no error
`url('/assets/images/cross.svg')` // => no error
`url('assets/cross.svg')` // => error

[2017-08-12 17:20] philippkuehn opened #224 "Placeholder option is not working with optgroup"
The placeholder item is not visible when used together with optgroup. (Tested with version 3.0.2)

This isn't working (`Select Value` is not visible in the dropdown)

[code]

[Here is a fiddle reproducing the bug.](https://jsfiddle.net/esqx0c7L/)

[2017-08-14 07:51] jshjohnson commented on #224
Hey - looks like this is more just an issue of having a combination of standalone options alongside option groups. Looks like standalone options are ignored when the Choices detects groups.

Let me investigate.

[2017-08-14 07:52] jshjohnson commented on #224
Line 2658:

[code]

[2017-08-14 22:13] matthew-dean opened #225 "Why doesn't Choices.js select the "selected" item?"
When passing in a `<select>` element to Choices, the item that is selected doesn't actually show up. Instead it seems to add placeholder text from an associated label as an item in the dropdown?

For example:
![screen shot 2017-08-14 at 3 12 34 pm](https://user-images.githubusercontent.com/414752/29294203-0c5d63d4-8103-11e7-907c-2571bdc97a87.png)
"Country" is not one of my options. It's just on th

[2017-08-15 05:14] jshjohnson commented on #225
Hey, could you please send me the HTML of your select box and your Choices config?

Thanks

[2017-08-15 09:06] jshjohnson commented on #225
I think I have the bug causing your pre-selected option to not be selected but I'm baffled as to how your label is being added to the choice list!

[2017-08-15 11:14] marzubov opened #226 "Call this._handleLoadingState(false) inside requestAnimationFrame callback"
I've noticed(especially on mobile Safari) that sometimes loading text doesn't disappear.

After some debugging, I've found that `this._handleLoadingState(true)` could run after ajax callback which calls directly `this._handleLoadingState(false)`.
Calling ajax callback inside `requestAnimationFrame` fixed an issue.

What do you think about calling `this._handleLoadingState(false)` inside `requestAn

[2017-08-15 13:30] jshjohnson commented on #226
Hey @marzubov,

Do you mean like this?

[code]

[2017-08-15 13:37] marzubov commented on #226
Hi @jshjohnson,

In your example, `this._handleLoadingState(false);` is redundant, because the loading state will be shown and then will be removed instantly.

I was thinking about updating [this line](https://github.com/jshjohnson/Choices/blob/master/assets/scripts/src/choices.js#L1406) to something like this:
[code]

[2017-08-16 17:06] lion-man44 opened #228 "Why not provide a file without sourcemap?"
Since sourcemap does not need it in the production, I think that it should provide a file that does not contain it.

For example:
Provide sourcemap `assets/scripts/dist/choices.js`
Not provide sourcemap `assets/scripts/dist/choices.min.js`

[code]

[2017-08-16 18:24] matthew-dean commented on #225
@jshjohnson I'll see if I can pull together a test case.

[2017-08-16 18:41] matthew-dean commented on #225
Never mind, this was a weird behavior caused by a float labels library. See: https://github.com/geminilabs/float-labels.js/issues/9

[2017-08-16 18:41] #225 closed

[2017-08-17 12:29] jshjohnson commented on #228
Hey @lion-man44,

Makes sense, would you mind submitting a PR for this? I'll be happy to review it :)

[2017-08-18 04:09] lion-man44 commented on #228
@jshjohnson
OK, sent you PR :)
https://github.com/jshjohnson/Choices/pull/230

Please review 😃

[2017-08-18 16:07] lion-man44 commented on #228
This issue is closing.
If there is a problem, please reopen it.

[2017-08-18 16:07] #228 closed

[2017-08-18 16:26] lion-man44 commented on #223
It seems better to send a PR?

[2017-08-18 21:54] pateketrueke opened #231 "There is a way to clear any selection made?"
I have a native `<select>`, when I pick an option I store the value and reset its `selectedIndex`, just because the first element is just a placeholder with no value.

I tried to achieve the same with Choices, but I didn't found yet any method to clear the selection, everything else is fine. 👍

Edit: even a method for selecting the placeholder would be enough too. Or an option for disabling Choice

[2017-08-19 19:46] pryley commented on #225
@matthew-dean see: https://github.com/geminilabs/float-labels.js/issues/9#issuecomment-323543729

[2017-08-22 17:02] Vercjames commented on #173
Any chance on getting this issue resolved? Remcoman do you have a fiddle showcasing your fix?

[2017-08-23 19:25] Igloczek opened #235 "Rendering of selects with mixed options and optgroups in root level returns only groups"
I tried to use your truly great lib to beautify selects in my Redmine tasks management site, but unfortunately, almost everywhere selects have in root level mixed `option` and `optgroup` tags, but this type of structure seems to not be supported here, b/c only groups are rendered.

Example
[code]

I tried to fix this issue modifying `_createInput` and `render` methods but looks like there is a big

[2017-08-24 09:22] C-Lodder commented on #173
Have you tried increasing the `searchFloor` to something like `3`. Performaing an ajax search after type 1 character may be slow if there are lots of results

[2017-08-24 15:04] Nuuou opened #237 "Hide/Show/Toggle not working"
Simple toggle demo, using Choices 3.0.2 and the choices.css file:
https://codepen.io/Nuuou/pen/PKBWQg/

Clicking on the "Toggle" button above the `select-multiple` field should simply toggle the dropdown. However, nothing appears to happen.

I've also tested this with the `hideDropdown()` and `showDropdown()` methods, and neither seem to work either.

Am I missing something obvious, or is this an

[2017-08-24 19:09] Vercjames commented on #173
I made a fork showcasing the lockup I'm experiencing when calling large JSON objects.
-- https://github.com/vercjames/choices

I'm fetching car models based on their make. The only thing I altered from the jshjohnson's master branch was the index.html where I replaced the API and removed the components I'm not using.

There are 2 API's so please toggle between the 2 to experience the issue yoursel

[2017-08-27 10:04] jshjohnson commented on #231
Hi @pateketrueke,

Could you comment with your Choices setup so I can get a better understanding of what you mean please :)

[2017-08-27 20:07] pateketrueke commented on #231
Well, I did this:

[code]

I tried to replicate the same with Choices but I have no luck.

[2017-08-29 07:51] jshjohnson commented on #231
So are you just trying to reselect the placeholder choice (first element in dropdown) after each selection?

[2017-08-29 14:21] retyui opened #239 "Mistake url: Polyfill example used for the demo 😇"
https://github.com/jshjohnson/Choices#browser-compatibility
plz update example url 💪
![](https://pp.userapi.com/c836736/v836736266/61f70/JRlS8sJKHhY.jpg)
[code]

[2017-08-29 17:52] pateketrueke commented on #231
That's exactly what I'm looking for...

[2017-08-29 21:40] jshjohnson commented on #231
You could use [`setValueByChoice`](https://github.com/jshjohnson/Choices#setvaluebychoicevalue) if you know the value of the placeholder.

I would be happy to review a pull request where this method could also take an index!

[2017-08-29 21:40] #231 closed

[2017-08-29 21:41] jshjohnson commented on #239
Hey @retyui,

Polyfill.io only loads polyfills if your browser requires them! :)

[2017-08-29 21:41] #239 closed

[2017-08-30 06:57] retyui commented on #239
omg
it is amazing 😍😍😍

[2017-08-30 08:06] jshjohnson commented on #237
Hi @Nuuou,

Hmm, this looks to be a bug. Let me investigate

[2017-09-04 06:10] MaksimShakavin opened #242 "Get customProperties from AJAX request"
First of all, thanks for the awesome library on ES6 without JQuery. It is a pleasure to work with its API.
I faced a problem with customProperties. I use it with each choice to display some additional description. Is it possible to  get from AJAX response not only the value and label, but also this custom property?

Thanks

[2017-09-04 14:21] nbokmans opened #243 "Why is the TypeScript definition file not included in the NPM package?"
As the title says. I am adding `choices.js` `^3.0.2` to my package json but the typescript definition file is missing. I can see it exists on this Github. Currently I have to manually add the TS defintinion file to my project and include a reference to that in my script.

I would like the node package manager to actually include the typescript definition file. The `package.json` seems to point to

[2017-09-05 08:11] jshjohnson commented on #243
Ah good spot, i'm happy to review a PR to fix this 👍

[2017-09-06 06:02] #243 closed

[2017-09-06 07:36] MaksimShakavin opened #246 "Flipping is not working in IE11"
Dropdown don't flip in IE, because IE don't support window.scrollY
https://github.com/jshjohnson/Choices/blob/2c4a74496a2236217a588363952ccdea8d7e98d1/assets/scripts/src/choices.js#L762

I created a[ pull request](https://github.com/jshjohnson/Choices/pull/244), that fixes this issue.

[2017-09-06 11:17] #242 closed

[2017-09-06 11:30] MaksimShakavin commented on #242
I found out myself, that I can pass customProperties as a result attribute in ajax_callback

[2017-09-06 11:34] jshjohnson commented on #246
Closing as PR has been merged - this will go out in the next release :)

[2017-09-06 11:34] #246 closed

[2017-09-06 11:41] MaksimShakavin opened #247 "How can I enable/disable/remove special choices from the list."
The only way I find, is to use `setChoices` with `replaceChoices=true`, to remove all the choices and add them again with some choices disabled. Are there more efficient and convenient way?

[2017-09-06 21:07] MaksimShakavin commented on #247
I added a function `mapChoicesByValue` that allows to change `value`,`label`,'disabled' and `customProperties` attributes for this case. Are you interested in PR?

[2017-09-08 10:48] bravecow commented on #223
your webpack config resolves svg extension?

`{ test: /\.(jpg|png|svg|gif)$/, loader: 'file-loader?name=images/[hash].[ext]' },`

[2017-09-09 04:25] travist commented on #76
This may fix this issue. https://github.com/jshjohnson/Choices/pull/248

[2017-09-09 04:25] travist commented on #77
We also may need this pull request, which provides a pseudo-placeholder for single selects.

https://github.com/jshjohnson/Choices/pull/248

[2017-09-11 16:47] C-Lodder opened #249 "Update Fuse to v3.1.0"

[2017-09-13 08:58] adammockor opened #250 "Templates as pure functions"
In my opinion, template functions should not use `this`, but everything should by passed via function arguments.

Because if you want to add style attribute to `choiceList` e.g., there is no way to mimmic default behavior of `choiceList` template, because there is no `this.isSelectOneElement` available when you passing function to `callbackOnCreateTemplates`.

[2017-09-15 09:48] 0190 opened #251 "Hide placeholder when something is selected in multiple-select"
I'm looking for an option to show placeholder on multiple-select, but only when nothing is chosen. It could be a default value that is only present when user haven't selected anything. I looked through the docs, examples and other issues and haven't found anything. Is something like this possible?

(and thanks for an awesome plugin!)

[2017-09-17 08:18] NetanelBasal opened #253 "renderSelectedChoices doesn't working with groups"
Hey,

I am trying to use the group option with `renderSelectedChoices` set to `always`, and it's not working.

[code]

When I select an item, it disappears from the list. I can confirm it is working with the following example:

[code]

It seems there is a bug when using groups or I am missing something?
Thanks.

[2017-09-18 08:20] maximmig commented on #253
I confirm this bug. I'll create a PR to fix it as soon as my current PR gets accepted or rejected. Thanks!

[2017-09-18 13:10] gavingolden opened #254 "Remove `select-one` selection"
I've reviewed the documentation and still can't figure out how to programmatically remove a `select-one` selection. What's the best way to do this?

[2017-09-19 11:29] maximmig commented on #254
See this: https://jsfiddle.net/maximmig/scs8ufgx/

[2017-09-19 13:52] NetanelBasal opened #258 "Add CSS class to a selected item"
Hey,

I need to add specific style to the **selected** item in the list. There is a way to do this? I didn't found any special class for this.

Maybe something like this:
`<div class="choices__item choices__item--selected"></div>`

I think it's essential functionality.

[2017-09-19 15:36] maximmig commented on #235
I can fix it after https://github.com/jshjohnson/Choices/pull/257 gets merged. I've managed to do it on my end.

[2017-09-20 06:31] jshjohnson commented on #258
Hi, what kind of input are you using (text/select)?

[2017-09-20 06:32] NetanelBasal commented on #258
Simple selects. There is no way to style the **active** choice in the list.

[2017-09-21 13:42] nerfpops opened #260 "TypeScript definitions not included with npm, though fix seems to have been merged"
Just installed 3.0.2 but Index.d.ts is not included.

Is the fix part of an upcoming release?

[2017-09-22 02:12] ataylor32 opened #262 "Ability to manipulate text for selected choices"
My goal is to use Choices.js to allow the user to choose multiple categories, but the categories are in a hierarchical structure, like this:

[code]

I would like to make it so that if the user chooses the "--- Child Category" option that it appears in their list of selected choices as "Parent Category > Child Category" rather than "--- Child Category". I looked through the README and it doesn't l

[2017-09-22 02:18] ataylor32 opened #263 "Allow browsers' built-in feedback when users don't fill out required fields"
Modern browsers will let the user know if they submit a form without filling out a required field. Choices.js doesn't show this, so the user might be confused, wondering why the form isn't submitting. Here is an example:

![choices-required](https://user-images.githubusercontent.com/1054222/30726712-b977ec96-9f09-11e7-8984-073682b8c4bc.gif)

And here is the code for the example:

[code]

[2017-09-22 09:52] maximmig commented on #262
Please see here: https://jsfiddle.net/maximmig/x4hjsdzw/1/

[2017-09-23 02:28] ataylor32 commented on #262
@maximmig That works! Thank you very much for putting that together!

[2017-09-23 02:28] #262 closed

[2017-09-25 15:30] beckler opened #264 "Placeholders duplicate when using multiple single selects that contain the same information."
If you have multiple single select dropdowns, that contain the same or similar information, the placeholder value gets duplicated multiple times.

You can see an example of the problem in this fiddle: https://jsfiddle.net/vazkcjy5/

[2017-09-25 21:36] #254 closed

[2017-09-27 12:29] NetanelBasal opened #265 "Store value other than string"
I have the following choices:

[code]

But now if I need to set the `A` option, I can't, because `setValueByChoice` does not support this. There is a way to set the `A` option programmatically in this case?

[2017-09-28 07:04] Youfka opened #266 "refresh select options"
Hello, I have a login form with select captcha, if it's a login error, I have to refresh options. It refreshes original select, but not choices select, how can I refresh it? (I was trying to destroy and init it, but it keeps creating inside old select, then inside previous select etc)

[2017-09-28 11:59] sebastien-roch opened #267 "Consider moving keyup/keydown event listeners to input instead of document"
Hi,
Thanks for the nice widget!
I am using Choices 3.0.2  in a dialog of CKEditor 4.7. It works well but I am facing an issue when pressing ENTER in my single-choice select: the dialog catches the keystroke and closes itself.

You may think: easy, just catch the event on the Choices widget and stop its propagation. But that would also "break" the listeners of Choices, as they are set on the docume

[2017-10-01 00:18] tekord opened #268 "How to inspect dropdown menu?"
Hi! Thanks for nice library. I want to inspect dropdown items, but once I move mouse on item and click right button it collapsed. I can't inspect these elements from Chrome's Elements panel because focused (exanded) dropdown has different attributes on items which I want to inspect. So I can't inspect these attribute because they appears only if dropdown is expaned, but if I expand the dropdown th

[2017-10-02 12:56] maximmig commented on #268
Please see here: https://www.screencast.com/t/ihcA7Eexj

[2017-10-02 13:21] tekord commented on #268
@maximmig can't watch because unable to install flash player.

[2017-10-02 20:24] zackschuster commented on #260
yes. the original types weren't being shipped, but @yannicsmeets helpfully [fixed that](https://github.com/jshjohnson/Choices/commit/3ab9bca6e68a8b3d9763c9403e3dbdcac9f9ea4e). we're just waiting on @jshjohnson to ship the next release.

[2017-10-04 00:25] connor-baer commented on #124
I'm having the same issue with a next.js app.

Here's my (shortened) code:

[code]

The full error:
[code]

[2017-10-04 08:34] jshjohnson commented on #124
@connor-baer Is your application also server side rendered? I have used Choices in React with a near identical setup to yours and it worked fine! 👍

[2017-10-04 08:38] connor-baer commented on #124
@jshjohnson Yes, Next.js does server-side rendering.

I tried removing all code related to Choices except for the import statement and it still throws the same error. It appears that Choices runs some logic when imported? Not sure how that's even possible. So a fix for this could be to check if `document` is defined before running that logic.

[2017-10-04 11:25] tekord commented on #268
@maximmig not working :(. Right click on item closes the dropdown.

[2017-10-04 11:42] maximmig commented on #268
Why can't you just inspect elements moving the mouse over the open dropdown having devtools open? Devtools will reveal all the changes. IMO there is no need to right-click at all.

[2017-10-04 15:56] mikefrancis commented on #13
@jshjohnson Yo - does `choices-react` or something like that exist?

[2017-10-04 16:07] tekord commented on #268
@maximmig because when dropdown is expanded all item elements changes their state. And once I try to click on them in the inspector they changed back.

https://dl.dropboxusercontent.com/s/o5ixbyu6gx97j5a/2017-10-04_19-04-42.gif

I want to inspect item elements when dropdown is expanded.

[2017-10-04 16:11] jshjohnson commented on #13
@mikefrancis Not AFAIK!

[2017-10-04 16:12] jshjohnson commented on #268
If you open Chrome dev tools, inspect the dropdown container and put a focus state on it, it will remain open 👍

[2017-10-04 16:12] #268 closed

[2017-10-04 21:49] tekord commented on #268
@jshjohnson no, it is not
https://dl.dropboxusercontent.com/s/b6g2ga58zi2zej1/2017-10-05_00-49-01.gif

[2017-10-05 02:34] tekord opened #270 "HTMLFormElement.reset() does not resets value of Choices element"
I have a filter form with native Select element and Choices element. `HTMLFormElement.reset()` does not affect Choises elements. I assume it is a bug.

[2017-10-05 07:50] jshjohnson commented on #268
See here: https://www.youtube.com/watch?v=VnFuwCrqJ-U&feature=youtu.be

[2017-10-05 07:53] jshjohnson commented on #270
Hi @tekord,

This isn't so much a bug - it's more of a missing feature! :)

[2017-10-05 08:01] jshjohnson commented on #267
Ahh CKEditor.. I used to hate working with that! 👎

I fear that if the event listener listens to the document, we will not have an easy method of determining which dropdown should change (if you have multiple on a page) etc. I'll investigate though.

[2017-10-06 19:57] miguelmota commented on #200
@bartlenaerts did you find an alternative that can do what you've described? I'm needing same feature

[2017-10-06 22:25] Aterbonus commented on #270
Hi. I'm searching projects for Hacktoberfest and I want to tackle this issue :)

[2017-10-08 12:01] tekord opened #271 "Allow constructor to accept NodeList"
At the current time constructor can not accept NodeList type. The following code is not working:
[code]

The error:

[code]

I have to use CSS-selector `const choices = new Choices('.js-pretty-dropdown')` which is unwanted for me. Is it bug or possible feature request?

[2017-10-08 12:13] tekord opened #272 "Small body's height makes Choises flipped and unsuable"
I have small page with 2 controls, 1 of them is Choises. I expected the dropdown will be expanded to bottom side, but it is flipped and there is no space to work with it. See screenshot:

https://dl.dropboxusercontent.com/s/tcv5nhddypewrso/2017-10-08_15-07-11.png

If I set body's height to 1000px it works well.

Is it possible to fix? I can edit my css and set body's height, but I guess the Choise

[2017-10-08 12:36] jshjohnson commented on #272
Hi @tekord,

You can enforce the dropdown to go above or below by using the [`position`](https://github.com/jshjohnson/Choices#position) config option :)

[2017-10-08 12:36] #272 closed

[2017-10-08 12:38] tekord commented on #272
@jshjohnson thanks! Maybe add this info to doc?

[2017-10-08 12:39] jshjohnson commented on #271
Hey @tekord,

This is a definite feature request - passing a class name, as you said, performs a `querySelectorAll` for you 👍

[2017-10-08 12:39] jshjohnson commented on #270
@Aterbonus Awesome :D

[2017-10-08 12:40] jshjohnson commented on #272
It's here: https://github.com/jshjohnson/Choices#position ;)

[2017-10-08 12:55] jshjohnson commented on #266
Hey, what do you mean by refreshing options?

Based on what you've said, you could try creating an `onChange` event listener to your select box and firing [`setChoices`](https://github.com/jshjohnson/Choices#setchoiceschoices-value-label-replacechoices) within that with the options available. Alternatively, a new `refresh` method could be added but I think that would require some rewriting.

[2017-10-08 12:57] jshjohnson commented on #265
Hey,

Sure, try the following:

[code]

[2017-10-08 13:00] NetanelBasal commented on #265
But how can I set this as select programmatically with `setValueByChoice`?

[2017-10-08 13:18] tekord commented on #272
@jshjohnson I mean write note about usage with small body height in https://github.com/jshjohnson/Choices#position section.

[2017-10-10 14:02] MaksimShakavin commented on #189
Hi @jshjohnson ,
+1 for bulk adding choices. When I add 25 choices with replace option it calls render method 26 times, and even more, if some of them are selected. It takes 20 seconds! for IE to process this DOM modifications.

[2017-10-11 10:35] wojciechczerniak commented on #189
+1 to reopen this issue

@jshjohnson  `renderChoiceLimit` is a nice addition but the UX looks odd. Only 10 (any number here) items are on the list. Are more not available to? Or they didn't load correctly? There is no scroll bar to indicate more options.

I agree that 4000+ elements have to be handled in another way. But I've got 250 elements and this shouldn't create such a problem. After all it'

[2017-10-11 11:57] jshjohnson commented on #189
@wojciechczerniak @MaksimShakavin There is an open [PR](https://github.com/jshjohnson/Choices/pull/236) that resolves this issue but it won't go out until the next release (actively being worked on!)

[2017-10-11 13:26] wojciechczerniak commented on #189
I've already tried that PR. It helps with performance but have other issues. Check my comment on the PR.

[2017-10-12 09:37] phpanos opened #275 "Refresh/Update setChoices"
Hi!

I use setChoices to populate the select with dynamic values on my single page application and when the page "reloads" (not an actual page refresh), the old value is selected instead of the new one even tough selected: true is applied correctly on the new items array.
Below is an example code of my issue:

[code]

In my application I don't really have duplicate code like this, but the behaviou

[2017-10-12 12:56] phpanos commented on #275
Ah. I solved it by destroying the first instance. Now it works as it should.

[2017-10-12 12:56] #275 closed

[2017-10-13 09:52] bartlenaerts commented on #200
No sorry, no solution yet. We are using aurelia and are looking to build our own 'choices' as a native aurelia plugin.

[2017-10-13 11:05] jshjohnson commented on #158
Closing due to inactivity

[2017-10-13 11:05] #158 closed

[2017-10-17 11:40] 0190 commented on #237
It does work if you wrap the `toggleDropdown()` in a setTimeout function. Same for `hideDropdown()` and `showDropdown()`.

https://codepen.io/0190/pen/QqJzvp

[2017-10-17 17:28] morphikus opened #277 "How to change value of existing Choice?"
I have the existing element select#selector

I can't change developer's src bundle.
I just need add my fuctionality.

I'd like to do

var selector = new Choices(document.getElementById('selector'));
selector.setValue('bla-bla');

but it doesn't work.

Can you help me?

[2017-10-17 21:09] jshjohnson commented on #277
Hey! [setValueByChoice](setValueByChoice) is what you’re after! :)

[2017-10-17 21:09] #277 closed

[2017-10-18 07:56] jshjohnson commented on #250
This will be implemented in the next release - you can track it here: https://github.com/jshjohnson/Choices/pull/227 👍

[2017-10-18 07:56] #250 closed

[2017-10-18 07:57] #249 closed

[2017-10-18 08:01] jshjohnson commented on #258
This is possible if you pass a custom template for an `item`. See here: https://github.com/jshjohnson/Choices#callbackoncreatetemplates

All data related to the selected item is passed through as an object.

[2017-10-18 08:01] #258 closed

[2017-10-18 08:20] morphikus commented on #277
When I call  setValueByChoice I see "Attempting to select choice that does not exist" in console log.

I need not create a Choice combobox =) I want use the existing Choice combobox.

[2017-10-18 08:29] jshjohnson commented on #277
What are you passing as the argument to `setValueByChoice`? You need to pass the value of the option you want to select.

[2017-10-18 08:40] morphikus commented on #277
For example:
`<select id="select">
<option value="123">One two three<option>
<option value="456">Four Five Six<option>
</select>
`

Somebody had done the Choice element from select#select earlier.

I'm trying to "connect" to his Choice element
`
var selector = new Choices(document.getElementById('selector'));
selector.setValueByChoice('456');
`
but I see "Attempting to select choice that does not

[2017-10-18 11:42] jshjohnson commented on #277
Could you do me a favour and send me the output of `console.log(selector.presetChoices)` please?

Thanks

[2017-10-18 12:31] morphikus commented on #277
![image](https://user-images.githubusercontent.com/1226940/31718672-71e0b078-b419-11e7-9811-86e76b664561.png)
 =(

[2017-10-18 12:40] jshjohnson commented on #277
Hmm something's not right with your setup. Could you send me your full choices config as well as the markup for the select please?

[2017-10-18 12:55] morphikus commented on #277
`if (document.querySelector('.js-choice')) {
  Array.from(document.querySelectorAll('.js-choice')).forEach(
    element => new Choices(element, {
      search: false,
      itemSelectText: '',
      shouldSort: false
    }));
}`

So it's every select at site will become Choice element. I can't change config. I need to work with the existing elements. =(

[2017-10-19 09:54] jshjohnson commented on #277
So are you trying to set the value on every single select box? I'm confused

[2017-10-19 17:06] NetanelBasal commented on #258
What I mean is something like that by default.

[code]

So I can style the active element.

[code]

[2017-10-19 17:15] ylemberg commented on #258
Ah gotcha, yes agreed I think it would be preferred to be set up that way in the `classNames` config object

[2017-10-20 14:16] Nuuou commented on #237
That certainly is interesting. It's as though the `toggleDropdown()` logic isn't correctly checking whether or not the dropdown is actually "open", so it's always trying to re-open it. Dunno for sure though!

To demonstrate slightly, I've added custom toggle logic. You're right that a `setTimeout()` is needed for this to work properly.
https://codepen.io/Nuuou/pen/jGJadR

[2017-10-23 21:19] jaredatch opened #278 "Can't disable all select options"
Example:

[code]

In this scenario Bravo and Charlie are correctly disabled, but Alpha is not and is fully selectable.

In the markup, all items are correctly disabled. Select is configured to sort.

[code]

In the example above, Alpha will still be selectable.

[2017-10-31 10:20] AndyRN opened #279 "Remove inline styling from js to accommodate standard CSP policies"
This line of code violates standard CSP policies due to the inline style being set:
[code]

What developers can do instead is specify the `hiddenState` class with one that has a `display: none;` rule when creating a Choices input. As there is an operation that occurs a few lines before:
[code]

Is there a case that requires this styling to be set here that I'm failing to consider?

---
* [Link to

[2017-10-31 19:23] derekshirk opened #280 "Demo: Chicago is not a state"
The very last demo on this page: https://joshuajohnson.co.uk/Choices includes "Chicago" as a selectable option for "States". I do not believe Chicago to be a state.

<img width="524" alt="screen shot 2017-10-31 at 12 20 14 pm" src="https://user-images.githubusercontent.com/1427548/32244593-3db0ccc6-be36-11e7-995c-ed257397a631.png">

Great work on this project. Thanks for sharing!

[2017-11-07 07:46] ArielGueta commented on #112
+1

[2017-11-08 11:12] tekord opened #284 "Multiple selector returns single Choices instead of array of Choices"
I have the following code:

[code]

Expected result:

filterDropdownControls is an array of Choices becuse selector '.main-filter-container .js-select-element' returns multiple elements.

Actual result:

Choises is applied to all elements of selector. But the filterDropdownControls is a single instance of  Choices which linked to first element of selector.

[2017-11-08 11:17] tekord opened #285 "Choices triggers change event only if value of option is not empty"
I have dropdown where first option has empty value (in my domain model it means no choice). Choices does not trigger change event if user select this item, but empty value is value too. Is it bug or I missed something?

[2017-11-08 12:48] jshjohnson commented on #284
I agree actually - I would be happy to review a PR for this

[2017-11-09 12:46] jshjohnson commented on #280
Haha good spot 🤦🏻‍♂️

[2017-11-10 17:26] carlotrimarchi opened #287 "Is the any way to use this plugin without webpack?"
Hello,
I downloaded the dist version of the plugin and when I try to use it I get this error:

`TypeError: "exports" is read-only`

I might be wrong, but I'm guessing it's because I'm not using webpack or anything else that can manage Javascript modules.
I simply use gulp to minimize e transpile the javascript code, but that's it.

Is there any way to use this script without webpack?

[2017-11-11 19:23] tekord commented on #284
@jshjohnson well, I can't help here because I am not JS developer :(

[2017-11-13 16:11] kkomaz opened #288 "Cannot assign to read only property 'exports' of object '#<Object>'"
I was required to reinstall my node modules and got a weird error as shown below.  I'm trying to debug this but not super clear on where the issue is coming from?  Were there any changes I am not accounting for?

![screenshot of google chrome 11-13-17 11-11-25 am](https://user-images.githubusercontent.com/8473884/32735678-6586dfba-c863-11e7-9025-c7f2f477e05d.png)

[2017-11-13 17:43] jshjohnson commented on #288
Hi, what version are you using?

[2017-11-13 17:46] kkomaz commented on #288
So I created a fork and my solution was to replaces the `module.exports` on `choices.js`

from

[code]

and remove `store.js`

[2017-11-13 19:15] jshjohnson commented on #288
Try forking from the latest master now - what is on master currently is the beta of the next version so their may be minor issues. You may be better off using https://github.com/jshjohnson/Choices/releases/tag/v3.0.2 👍

[2017-11-13 19:15] #288 closed

[2017-11-14 17:47] fernandoagarcia commented on #287
You can download the source and change this to window on the first IIFE call. You should be able to combine it with your other JS files.

[2017-11-14 19:25] fernandoagarcia opened #289 "setValueByChoice naming mismatch setChoiceByValue"
So somehow I got a file that is suppose to be v3.0.2 that is different from the current on git that has the same method named differently (setValueByChoice | setChoiceByValue).

[2017-11-14 19:30] jshjohnson commented on #289
What‘s on master is the beta version of the next release

[2017-11-15 06:41] jshjohnson commented on #287
You shouldn’t need to do that - when it builds webpack should export to window (using the UMD definition). This sounds more like an issue with that

[2017-11-15 06:52] jshjohnson commented on #287
This should be resolved by this commit: https://github.com/jshjohnson/Choices/commit/e8d8f8662ec78457a4b35d039818e62a7eab18bf

[2017-11-16 07:30] #287 closed

[2017-11-17 05:11] bububo commented on #285
I have the same issue. Why the Choices doesn't work as a native dropdown in this case?
I have the following structure:

`<select>
    <option value="">Please Select</option>
    <option value="1">Item1</option>
    <option value="2">Item2</option>
</select>
`

The change event fires only if I chose any item, but does not fire if I chose the "Please select" option.

[2017-11-17 13:46] kivils commented on #112
+1

[2017-11-19 15:45] carlotrimarchi commented on #287
@jshjohnson it still doesn't work for me. Simply including it in the page I get this error in the console:

[code]

[2017-11-20 11:03] DanielRuf opened #290 "include example with exact match (fuse options)"
So far there is no example with some of the fuse options which could be nice as default.

Also all examples lack the sourcecode as text on the website so no easy copying possible so far.

[2017-11-20 13:00] jshjohnson commented on #287
I just tried to replicate your problem and couldn't. If you pull master and open index.html in a browser, you should see working examples.

[2017-11-20 22:28] ChristopherRobinSuperStar commented on #182
It is very nessesary and convenient to pass data-attributes. Please, add it.

[2017-11-21 12:54] 0190 commented on #74
I was looking for a way to get alerted when the search input is cleared, as there's no obvious workaround.

Anyone who adds custom functionality to the select widgets would certainly benefit from a "search cleared" event or at least a status method checking whether the search is empty.

[2017-11-21 15:19] ChristopherRobinSuperStar opened #291 "event handlers don't trigerred after select"
[code]

Everything has been worked fine before I changed the selected value. And then my event handlers don't trigerred and I have to assign a handler once more like this

[code]

[2017-11-21 15:27] viciantomas opened #292 "setChoiceByValue is not a function in v3.0.2"
I have newest version v3.0.2 and I am trying to use setChoiceByValue but it is still pulling this error at me.
`setChoiceByValue is not a function`

Edit:
I found where was a problem. There is a typo in documentation. It should be **setValueByChoice**

[2017-11-21 15:41] jshjohnson commented on #292
So what is in master is the beta of the next release. I've realised this is actually becoming a bit of an issue for people. I will revert it to the last release 👍

[2017-11-21 15:45] jshjohnson commented on #292
I've reverted master - https://github.com/jshjohnson/Choices#setvaluebychoicevalue 👍

[2017-11-21 15:45] #292 closed

[2017-11-21 21:56] alexbech opened #293 "Adding customProperties to choices through markup"
Is it possible to add customProperties to choices for select-multiple through markup?
Like through data properties or something?

[2017-11-22 07:53] jshjohnson commented on #291
Could you please send me a Codepen or JSbin highlighting the issue please? It’s difficult to diaognise the problem otherwise. Thanks

[2017-11-22 07:55] jshjohnson commented on #285
Sorry closed this by accident. I think you’re right. I’ll put a fix in for this with the next release.

[2017-11-22 09:53] ChristopherRobinSuperStar commented on #291
https://jsbin.com/vuzuyogofi/edit?html,css,js,output

[2017-11-22 11:32] ChristopherRobinSuperStar commented on #293
I realy need it too!!!

[2017-11-27 12:36] DanielRuf commented on #135
The solution from https://github.com/jshjohnson/Choices/issues/135#issuecomment-302124496 works. Thanks. Would be good to have this as an example.

[2017-11-27 12:59] DanielRuf commented on #57
I see the same issue. When it is wrapped in the label it does not work.

Chrome 62 stable on macOS 10.12

[2017-11-30 22:03] fernandoagarcia opened #296 "Adding labels for accessibility to dynamically generated inputs."
Do you have a hook to add custom HTML or labels to the dynamically generated inputs such as choices__input/choices__input--cloned ?

[2017-12-01 21:52] SampsonCrowley opened #298 "Destroy doesn't put original select back"
Scenario I have a normal select box with class 'searchable' and normal html options (no ajax).

a choices instance is created:

[code]

I destroy the choices instance

[code]

NOW, the Docs say that my select tag should be back to its original state.

HOWEVER instead, the select box is left blank (i.e no options in list)

[2017-12-03 17:07] travist opened #301 "Placeholders not working for Single Select dropdowns"
For the life of me, I cannot get placeholders to work with Single select drop-downs. Here is the JSFiddle.

https://jsfiddle.net/travistidwell/ycn5xvxx/

What am I missing?

[2017-12-04 02:32] luntegg opened #302 "Problem with mouseover on list and use direction keys"
To see the problem:
 - open any list with `Choices`
- move cursor to first item (for example)
- item will be highlighted
- use DOWN direction key (↓)
- when list will be scrolled down for key choice, after that (!) list will be scrolled to cursor over, to first item

[2017-12-04 21:34] nandastone commented on #301
The placeholder options are intended `text` and `select-multiple` input types:

https://github.com/jshjohnson/Choices/tree/develop#placeholder

Note: For single select boxes, the recommended way of adding a placeholder is as follows:

[code]

Your example, updated: https://jsfiddle.net/3yd39cc2/2/

[2017-12-04 21:52] travist commented on #301
Awesome. Thanks for that.

[2017-12-04 21:52] #301 closed

[2017-12-05 13:54] jshjohnson commented on #298
Hey are you able to send me a JSFiddle or a Codepen highlighting the problem please?

[2017-12-05 13:58] jshjohnson commented on #293
Happy to review a PR for this 👍